[2017-09-30 20:48] basilfx opened #1 "Fragments not working"
First of all: thank you for contributing this! Django is great, GraphQL is great, but Relay was too much for me.

I noticed that queries with fragments are not yet supported. For instance:

[code]

I have worked around the issue by changing `utils.py` on line 105, since it looks like that method only optimizes the query:

[code]

I found something that might help [here](https://github.com/graphql-

[2017-09-30 20:50] basilfx opened #2 "Hard dependency on `psycopg2`"
In `converter.py` on line 4, fields from PostgreSQL are imported.

These fields are only available when you have the `psycopg2` module installed. This module is not listed in `setup.py`, but I think it is better to not depend on this if the user does not use PostgresQL.

[2017-09-30 22:57] basilfx opened #4 "(Custom) Django filters not applied"
In `fields.py` in the method `list_resolver` (around line 227), I see that `filterset_class` is commented out and not used at all.

This prevents one from applying custom filters from django_filter. For instance, I have the following filter:

[code]

The problem is that `sort` is not a field that exists on the `Object` model, but `queryset_factory` tries to apply this one in the `filter(**kwargs)`

[2017-09-30 23:19] basilfx commented on #4
I have changed the following (not sure if it works according to your ideas):

In `fields.py` around line 227:

[code]

In `utils.py` around line 113:

[code]

I basically removed all `filter(**kwargs)` calls from the `queryset_factory` and moved them back to the `list_resolver` method.

[2017-10-02 14:25] eamigo86 commented on #2
Hello @basilfx, thanks for report this bug, I fix it right now and it will be available for version 0.0.1b9

[2017-10-02 14:30] #2 closed

[2017-10-02 18:18] eamigo86 commented on #1
Sorry it was an error of mine, in that specific function of **utils.py** file I only focused on automatically optimizing and calculating the **select_related** and **prefetch_related** for each model's queryset, according to the query requested by the user, and I never took into account **fragments**. I will work on this to support fragments as soon as possible, thanks for reporting it. :thumbsup:

[2017-10-02 20:02] eamigo86 commented on #1
I just fixed the bug and it will be available in the next version (0.0.1b9) soon.

![image](https://user-images.githubusercontent.com/11740026/31096352-6385f3d4-a781-11e7-901c-7b3ccc779378.png)

Thanks for your help :trophy:

[2017-10-02 20:21] #1 closed

[2017-10-02 23:25] eamigo86 commented on #4
Hello again @basilfx. First of all I would like to thank you very much for your comments and for your help. This bug, like the other two, will already be used from version 0.0.1b9.

![image](https://user-images.githubusercontent.com/11740026/31103876-0f016d20-a79f-11e7-9ba7-3e9a18a92695.png)

[2017-10-02 23:25] #4 closed

[2017-10-03 19:53] basilfx commented on #4
@eamigo86 Thanks for fixing. I will continue to evaluate this and submit ideas/bugs/comments to further improve this great package!

[2017-10-03 20:01] basilfx opened #5 "Idea: expose more details on pagination"
This is something that can be useful for pagination:

* Allow an option to limit the maximum number of results per offset/page query, e.g. `PageGraphqlPagination(max_limit=100)`. This way, someone cannot query all the results.
* Expose the actual limit that is being applied.

Consider this (dangerous) query:

[code]

Without this information, you cannot calculate the right number of pages, because

[2017-10-03 21:59] eamigo86 commented on #5
Hi @basilfx, I will work to make the configuration of the page more friendly, in the next days I will update the module with the changes and I will let you know.
Thanks for the suggestions that will always be welcome. regards

[2017-10-05 11:00] Magni77 opened #6 "DjangoInputObjectType problem and nested serializers"
Hi. Thanks for implementing this stuff. I'm playing around with graphene some time and get piss off on things that were easy in DRF.
I've got problem with implementing DjangoInputObjectType.
This is what i get after just copy-pasting code example:

`    super(InputObjectType, cls).__init_subclass_with_meta__(_meta=_meta, interfaces=interfaces, **options)
TypeError: __init_subclass_with_meta__() go

[2017-10-05 20:49] eamigo86 commented on #5
Hi @basilfx, I have uploaded a new version (**0.0.1rc2**) with the possibility of choosing the pagination type and the number of elements of each page in a global way, that is to say from a configuration in the settings.py, I still have to update the documentation (I'm lazy doing it), but in essence it can be configured like this:
[code]

Regardless of pagination type, you will see in the paramete

[2017-10-05 21:20] eamigo86 commented on #6
Hi @Magni77, could you attach me your traceback to get more information about the error?

[2017-10-05 22:27] basilfx commented on #5
Tested the new option, and it works like a charm. I did not use the settings in `settings.py`, but just in the constructor itself.

[2017-10-06 14:43] #5 closed

[2017-10-09 15:05] eamigo86 commented on #6
Hi @Magni77 your issue it fixed on lasted version: [**0.0.1**](https://github.com/eamigo86/graphene-django-extras/releases/tag/v0.0.1)

[2017-10-09 15:05] #6 closed

[2017-10-09 17:07] basilfx opened #7 "`get_related_model` cannot be imported"
In Django Rest Framework 3.7.0 (released a few days ago), the above method is removed (see [here](https://github.com/encode/django-rest-framework/commit/c674687782ef96a3bb8466b412e99debd3d04f00#diff-ce493f71b3679e91b72126c168670399)).

Reverting back to 3.6.0 fixes it, for now.

[2017-10-09 17:35] eamigo86 commented on #7
This is because as of version 3.7.0, DRF will no longer support Django <= 1.9, even when Django 1.8 will have official support until April 2018. There will be no choice but to migrate, but for now will maintain dependency of DRF == 3.6.4.  :confused:

[2017-10-09 17:42] #7 closed

[2017-10-10 12:41] dperetti opened #8 "Objects in results array should not be nullable"
This a minor but annoying issue when you use a front end tool like Apollo because it results in weaker typing.
It affects graphene-django as well, but I have more confidence in graphene-django-extras to fix it ! :-)
Here it is: results should not be of the form `results: [UserType]` but `results: [UserType!]` since returned objects in the array can't be null.
I don't know if it's somehow related,

[2017-10-10 12:42] dperetti opened #9 "tests should be excluded from the install"
I installed this great library using pip install and I noticed the tests were installed as well. It should no t be the case.

[2017-10-12 12:32] eamigo86 commented on #9
Hi @dperetti, thank for tested this module. Could you explain me better what you think of the tests that were installed?

[2017-10-12 12:36] eamigo86 commented on #8
Hi @dperetti, Could you teach me an example of what you explain of nullable objects in results array, with a query and the resulting payload to be able to have a more exact idea of where to look for the problem?

[2017-10-12 22:22] dperetti commented on #8
See https://github.com/apollographql/apollo-codegen/issues/225 and the final explanation.
The problem is graphene-django returns arrays of instances as `[SomeDjangoModelnstanceType]`. But the fact that a SomeDjangoModelnstanceType can't be null is not enforced. As a result, front end strict type checking tools like Flow consider that SomeDjangoModelnstanceType can potentially be null, yielding ann

[2017-10-12 22:30] dperetti commented on #9
Forget about it, I'm out of my mind. Those must have been tests from the graphene-django package!

[2017-10-12 22:30] #9 closed

[2017-10-24 15:41] dperetti opened #10 "TypeError when using GenericForeignKey"
`'<' not supported between instances of 'GenericForeignKey' and 'DateTimeField'`.

The exception is triggered here : https://github.com/eamigo86/graphene-django-extras/blob/master/graphene_django_extras/utils.py#L22 when using a type like this :
[code]

For a model like this:

[code]

[2017-10-25 14:34] eamigo86 commented on #10
Hi @dperetti, sorry for the delay, is that unfortunately I do not have 24h internet connection.
Can you tell me what version of _graphene-django-extras_ you are using. Because I tested with graphene-django-extras>0.0.4 and work fine. The last version is [0.1.0.alpha4](https://github.com/eamigo86/graphene-django-extras/releases/tag/v0.1.0-alpha4) of today.

[2017-10-28 08:33] dperetti commented on #10
Hey sorry for the delay too. Working on this only 3 days a week :-)
Unfortunately the issue is still present in 0.1.0a9. The only one that works is 0.0.2.
0.0.3 was working too but apparently it disappeared.
By the way it would be great to have a pytest based test suite with a django sample project !
If you're willing to, I can help to set one up.

[2017-10-28 08:37] dperetti commented on #10
Also tried  from the master (053c6f9627c4152509831e91d18fe84e14e20e44) with no avail.

[2017-10-28 08:46] dperetti commented on #10
The quick fix that works for me is to exclude virtual_fields from the sorting, like this:
[code]

[2017-10-30 18:44] eamigo86 commented on #10
Hello @dperetti, I would like you to help me to set a pytest based test suite with a sample project up.
I have tried the same example that you use and that throws the exception and works well, what version of Django are you using?

[2017-10-30 21:14] eamigo86 commented on #10
Hi @dperetti, You could try version [**0.1.0alpha11**](https://github.com/eamigo86/graphene-django-extras/releases/tag/v0.1.0-alpha11) and tell me if the bug is fixed?

[2017-10-31 09:00] dperetti commented on #10
That one works ! (I was using Django 1.11.2).
I'll get back to you soon with a pytest setup !

[2017-10-31 09:00] #10 closed

[2017-11-02 22:13] dperetti opened #11 "name 'LimitOffsetGraphqlPagination' is not defined"
Hey,
I'm setting up a basic sample project for testing purposes in a fork of your repository, and I stumbled upon this issue when using LimitOffsetGraphqlPagination here: https://github.com/dperetti/graphene-django-extras/blob/7c9e38b9136681cd6522744eb151fbefe0d483aa/sampleproject/sampleproject/schema.py#L69
Looks very much like a circular import issue.
Can you have a look ?

[2017-11-03 17:18] eamigo86 commented on #11
Hi @dperetti, in last commit I fixed it and in next version it will be available.

[2017-11-03 17:50] dperetti commented on #11
Cool! Did you check the result as well ? Because yesterday night I kinda found a workaround like yours so it no longer crashed, but the result was not ok (empty or bogus if I can recall).

[2017-11-03 17:59] eamigo86 commented on #11
Well the truth is that the error was eliminated but the result is not what was expected, at least in the filtering part, I am working on the next version in which the filtering will be correct

[2017-11-08 13:23] eamigo86 commented on #11
Hi @dperetti in last release 0.1.1 this error was fixed, please test it.

[2017-11-08 13:23] #11 closed

[2017-11-11 00:02] dperetti commented on #11
@eamigo86 yeah it seems to work! Meanwhile I've set up a very basic test project with 3 test runs at the moment. I'll add more and do a pull request, unless you'd like to merge it early.
In the tests branch: https://github.com/dperetti/graphene-django-extras/tree/tests

[2017-11-11 03:31] Snake575 opened #12 "Mutation error with DjangoSerializerType"
Hi, I encountered an error calling mutations on a model implementing `DjangoSerializerType`
![image](https://user-images.githubusercontent.com/4157289/32685798-37bc4400-c677-11e7-89e0-a90c96ad8ec7.png)

It works fine with `DjangoSerializerMutation`
![image](https://user-images.githubusercontent.com/4157289/32685788-083d20fa-c677-11e7-9a1a-d97fe30bb420.png)

It seems that `ok` and `errors` aren't p

[2017-11-13 19:38] eamigo86 commented on #12
Hi @Snake575, thanks for report this, on next version this bug will be fixed.

[2017-11-14 19:50] eamigo86 commented on #12
Hi @Snake575 test with last version: [0.1.2](https://github.com/eamigo86/graphene-django-extras/releases/tag/v0.1.2)

[2017-11-14 19:50] #12 closed

[2017-11-14 20:07] Snake575 commented on #12
@eamigo86 now it works!

Thanks!!!

[2017-11-16 19:52] eamigo86 commented on #8
Hi @dperetti, please look at this image and tell me if it is what you are referring to in this issue:
![issue_8_dperreti](https://user-images.githubusercontent.com/11740026/32912616-9ec544f2-cadd-11e7-8798-cbfb7c76ada6.png)
Note that the 2 queries are identical, only that the processing of the resulting payload is different

[2017-11-17 11:55] dperetti commented on #8
This is most likely related, but in your example, what does the GraphiQL Docs tab say about userPermissions ?

[2017-12-04 07:42] evanheckert opened #15 "Traditional Methods for displaying calculated field not working."
Very possible that I'm missing something, but my model contains this property:
[code]

Serializer:
[code]

SerializerType:
[code]

However, name_string or nameString isn't an option when querying. Not sure if GDE looks for them, or what I need to do?

[2017-12-04 18:50] eamigo86 commented on #15
Hi @evanheckert, in this case you must define a DjangoObjectType subclass for your model **Vehicle**, before the **VehicleModelType**, just this:
[code]

[2017-12-04 18:50] #15 closed

[2017-12-05 17:08] jon-djon opened #16 "DjangoSerializerMutation update mutation with unique model fields"
With the latest 0.13 update, I ran into an issue with the DjangoSerializerMutation update mutation.

I have a model that defines a unique value...e.g.

[code]

When the call to update is made there is a call to full_clean() on the model with the validated serialized data.

[code]

This will fail because it will validate that the `name` field is unique for the model.

The quick fix is to change the

[2017-12-05 19:59] eamigo86 commented on #16
Hi @jon-djon, could you try with version 0.1.5 and tell me? I remove the **full_clean** validation of the **DjangoSerializerMutation**, since this should be done in the **validate** function of the model serializer, example:

[code]

[2017-12-05 19:59] #16 closed

[2017-12-05 21:16] jon-djon commented on #16
0.1.5 fixed the issue.  Thx for the quick fix.

[2017-12-17 00:21] MiltonLn opened #17 "Couldn't make filters work"
Hey! Thanks for this amazing utility, definitely it makes using graphene a lot easier with Django.

I'm having this error when trying to implement a filtered query:

[code]

this is my `DjangoObjectType` :
[code]
and this is the query:

[code]
It is correctly connected to the rest of the project schema.

I made some debugging and it seems to be failing in [this line](https://github.com/eamigo86/gr

[2017-12-17 21:30] eamigo86 commented on #17
Hi Milton thanks for report this bug. Sorry for delay. This bug is already
fixed and will be available in next release(0.2.0) very soon , with many
new stuff !!!

En 16 de diciembre de 2017 7:21:50 PM Milton Lenis
<notifications@github.com> escribió:

[2017-12-18 22:56] eamigo86 commented on #17
Hi @MiltonLn the new release is ready, please test it !!!

[2017-12-18 22:58] MiltonLn commented on #17
Thanks a lot for your quick help @eamigo86 I'll test it ASAP

[2017-12-21 10:03] HackoDev opened #18 "Default `DEFAULT_PAGINATION_CLASS` failed"
Hey! Thanks for this package 👍

I got exception on using `DEFAULT_PAGINATION_CLASS`.

[code]
I'm using `DjangoFilterPaginateListField` without pagination parameter:
[code]

**Traceback:**
[code]

`isinstance(pagination, BaseDjangoGraphqlPagination)` on 142 line.

**Code from sources:**

[code]

[2017-12-21 16:51] eamigo86 commented on #18
Hi Eugene, thanks for report this problem, in few hours I release a new
version (0.2.1) to fix it.
I really hope that this package can help you to implement GraphQL on
Django. Greetings

[2017-12-21 21:51] #17 closed

[2017-12-21 21:52] #18 closed

[2018-01-23 02:09] leiserfg opened #20 "Add a way to tag a custom resolver for prefetch"
I have a type with a calculated field who depends on a model related field, can you add a way to tag it for prefetch?
My idea:
[code]
This way every access to display will implay a fetch of user.

[2018-01-26 09:54] legshort opened #21 "How to add request.user to serializer?"
The codes seems not passing context to serializer when it's called.
`serializer = cls._meta.serializer_class(data=new_obj)`

I would like to add `request.user` when it tries to save, I couldn't find a way to do it.
Anyone has done this before?

[2018-01-29 03:16] leiserfg opened #22 "Expose a way to assign a custom FilterSet to a DjangoObjectType"
In django-filter you can declare custom FilterSet, and in graphene-django(-extras) you can use it in a custom resolver, but there is not a way to use it in every point the type is referred. I think that it can be resolved by simply adding a `filter_set_class` parameter to the DjangoObjectType and using it as default value instead of `None` in the call to `DjangoFilterListField` in  `converter.py`.

[2018-01-29 18:43] eamigo86 commented on #21
Hi @legshort, this module as of version 0.3.3b1 allow custom initialization of Serializers, on **DjangoSerializerType** and **DjangoSerializerMutation**, through overwrite the **get_serializer_kwargs** function, example:
[code]

Thanks to [Pull request](https://github.com/eamigo86/graphene-django-extras/pull/14) of @jamesmcnamara

[2018-01-29 18:43] #21 closed

[2018-01-30 20:16] #22 closed

[2018-02-20 12:37] #8 closed

[2018-02-21 09:41] giovannicimolin opened #25 "Is there a way to use DjangoListObjectType with related fields?"
Using DjangoListObjectType to make a filterable list doesn't make any related field available on the graphql endpoint.

I have a related field called created_by (ForeignKey to User model) but I can't query it on DjangoListObjectField, only on DjangoObjectField. Is there any way I can do that?

[2018-02-23 17:02] eamigo86 commented on #25
Hello @giovannicimolin , could you give me an example of the query with DjangoListObjectType and DjangoObjectField, because if I should be able to access.

[2018-03-06 14:11] EmiM commented on #25
Same for me. Example code:

[code]

And in this case I can only access "title" from graphql. Author relation is not available.

[2018-03-06 19:51] eamigo86 commented on #25
Ok EmiM, I will check that right now. Thanks for share your code.

[2018-03-09 16:13] eamigo86 commented on #25
Hi again @EmiM, sorry for the delay, but I had to make an urgent trip to the last minute.
Could you tell me the version of the module you are using? Because I just recreated your example and it worked perfectly.

[2018-03-14 09:27] EmiM commented on #25
I'm using `graphene-django-extras==0.3.3`. I am able to retrieve all data except the foreign key relation.

On the graphql side I call it like this:
[code]

Returned error: `"Cannot query field \"author\" on type \"BookGenericType\"."`

[2018-03-14 20:06] sgaseretto opened #26 "Warining: Abstract type is deprecated"
I'm getting this warning when runing my server

[code]

Any idea of how to avoid it?

[2018-03-14 21:20] eamigo86 commented on #26
Hi @sgaseretto, this warning is because  you have defined a class that
inherited from AbstractType, and in version 2.0 of graphene-django this
class is deprecated. You must inherit from ObjectType instead of AbstractType.

[2018-03-14 21:23] eamigo86 commented on #25
Hi EmiN,please be shure to install last version: 0.3.4a1.
pip install graphene-django-extras==0.3.4a1

[2018-03-15 00:34] sgaseretto commented on #26
Thanks for answering so quickly. I haven't inherited from AbstractType anywhere in my code, I just implemented the example you put in the README, it seems that there is a class in the graphene-django-extras package that inherits from AbstractType

[2018-03-15 11:09] EmiM commented on #25
@eamigo86 thank you for quick responses. I will try it with version you suggested.

[2018-03-16 01:05] sgaseretto commented on #26
Sorry, you were right, I'm closing this issue

[2018-03-16 01:06] #26 closed

[2018-03-16 21:15] aldarund opened #27 "AttributeError: 'DjangoObjectTypeOptions' object has no attribute 'filterset_class'."
Basic example from docs dont work. ( same as with UserType in example)
[code]
http://dpaste.com/0D15FBH

graphene-django-extras  0.3.4a2
graphene-django 2.0.0

[2018-03-17 20:20] eamigo86 commented on #27
Hi @aldarund, thanks for writing, that error is due to my carelessness in writing the package documentation. Please make sure you are using the DjangoObjectType class that comes from graphene-django-extras and then use it in your type definition, just like this:

[code]

[2018-03-18 13:35] aldarund commented on #27
@eamigo86 thanks it fixed issue

[2018-03-18 13:41] aldarund opened #28 "filtering by request data"
For example i want to filter articles by current user using DjangoListObjectField or DjangoFilterPaginateListField
I dont see a clean way to do so right now. In django-graphene for DjangoConnectionField i could define resolve_articles field. It doesnt work here.
Other options would be to use django-filter request filtering by defining a custom filterset_class. https://django-filter.readthedocs.io/

[2018-03-18 13:41] #27 closed

[2018-03-22 16:02] Anthony-Costa opened #29 "creating nested objects like in DRF"
Hello @eamigo86,

I'm having some trouble with creating nested objects like in DRF as explain in your post [https://github.com/graphql-python/graphene-django/issues/274#issuecomment-335191042](url)

Here's what I got in **serializers.py**:

`class BookingSerializer(serializers.ModelSerializer):
    class Meta:
        model = Booking
        fields = (
            'status'
        )

class OtherBo

[2018-03-23 16:27] sgaseretto opened #31 "Changing some Fields from a DjangoInputObjectType to required=False"
I'm trying to create some update mutations, where I don't want to pass some fields, because I don't want to update them.
For example I have this model:

[code]

And the following InputType:

[code]

How can I change, for example, the name and owner fields from my InputType in order to make them required=False. As a suggestion, it will be nice adding something like the ```exclude_fields = ('name',

[2018-03-23 17:34] eamigo86 commented on #31
Hi @sgaseretto, specifically in your case, you have to put **blank=True** in the fields of your model that you do not want to be required. For example, the following definition of your model will not generate the **owner** field as required in the graphql mutations:

[code]

[2018-03-23 18:20] eamigo86 commented on #25
Hi @EmiM. Did you try the new version that I suggested you?

[2018-03-23 18:23] eamigo86 commented on #28
Hi @aldarund, the new @bemcculley [PR](https://github.com/eamigo86/graphene-django-extras/pull/30)
should resolve this issue.

[2018-03-24 00:43] aldarund commented on #28
@eamigo86 thats pr what i did locally my subclassing :) Just though maybe there was a way that i missed. Anyway now its in source so all good :)

[2018-03-24 00:43] #28 closed

[2018-03-24 11:27] aldarund commented on #25
@eamigo86 0.3.4a2 doesnt work for me.

[code]

[2018-03-24 12:05] aldarund commented on #25
@eamigo86 after debuggin code i found that its because you need to define ApplicantType.
Something like this enough, even without using it anywhere
[code]
Without this it will produce this error. Its quite not obvious behavior.

[2018-03-26 15:47] eamigo86 commented on #25
Hi @aldarund
This happens because you must have defined at least one type valid for each model, so the graphql engine can do a correct mapping of each of the relational fields. Otherwise, the system will assume that you do not want those models to be included in the schema generation.

[2018-03-26 15:47] #25 closed

[2018-03-26 15:48] #31 closed

[2018-03-26 15:50] eamigo86 commented on #29
Hi @Anthony-Costa, sorry for dalay. Today I review your example to see what the problem is.

[2018-03-26 17:17] tadeo opened #34 "resolve_[field_name] not working for DjangoListObjectField"
I've defined a simple DjangoListObjectType with just a model and pagination attributes in the Meta and when added to Query with DjangoListObjectField I can't get the resolve_[field_name] method called.
Is this an intended behavior? How can I intervene the list/queryset? I wanted to filter out some elements.
Just as a reference of my intention:

[code]

Thanks a lot!

[2018-03-26 18:31] eamigo86 commented on #34
Hi @tadeo, sorry about that, but it's a pending work that I have to do, which one will be available very soon.

[2018-03-26 20:53] aldarund opened #35 "Ability to add custom fields for DjangoObjectType"
Right now i dont see a way to add a custom fields. Like a custom value that is based on other field values.

[2018-03-27 02:17] tadeo commented on #34
@eamigo86 Exploring for alternatives I found that I can use a FilterSet class where to filter the queryset through its `filter_queryset(self, queryset)` method, having the request available at self.request. Here the idea:
[code]
Gracias!

[2018-03-29 10:47] gregbrowndev commented on #34
Hi, I also have the need for `resolve_[field]` in order to add queryset annotations to my type, which isn't quite solved by #15 , i.e:

[code]

Thanks!

[2018-03-29 18:25] tadeo commented on #34
@gregbrowndev just curious, did you try the `filterset_class` workaround I suggest?

[2018-04-02 22:55] cfp2000 commented on #34
I’m also very interested in this.

I want to use it with https://github.com/flavors/django-graphql-jwt

[2018-04-05 03:52] dreglad opened #36 "DRF 3.8 Compatibility"
Upgrading to the recently released [DRF 3.8.x series](http://www.django-rest-framework.org/topics/release-notes/#38x-series) broke compatibiliy with **graphene-django-extras**

In DRF 3.8, `rest_framework.compat._resolve_model` function has been removed, but it is being imported by [utils.py#L15](https://github.com/eamigo86/graphene-django-extras/blob/master/graphene_django_extras/utils.py#L15).

[2018-04-06 06:27] jzelez commented on #36
I've made a PR for a quick & dirty solution #37

[2018-04-08 19:01] yannRavels opened #38 "[Improvement] Partial Update with serializer_class"
Hi,

First, thanks for this amazing lib !

I'm wondering if the partial update would be accessible through the class DjangoSerializerMutation ?

At the moment, I use to bypass this issue, the following code:

	import functools

	def partialclass(cls, *args, **kwds):
		class NewCls(cls):
			__init__ = functools.partialmethod(cls.__init__, *args, **kwds)

		return NewCls

and then

	class MediaFeedM

[2018-04-11 20:39] eamigo86 commented on #36
Thanks @jzelez. Good job

[2018-04-11 20:39] #36 closed

[2018-04-12 10:03] EmiM opened #39 "Get amount of filtered objects returned by DjangoFilterPaginateListField (before pagination)"
Hello, is there a direct (clear) way for accessing amount of objects returned by DjangoFilterPaginateListField?
I need amount of filtered objects before they are split to pages.
Example: if I have 10 objects in db, I filter them by some key and I get 7 objects. I will be paginating this result but I still need the number (7) of objects returned by filter.

Thank you!

[2018-04-17 18:51] jstacoder opened #40 "drf removed compat._resolve_model in latest update"
this commit https://github.com/encode/django-rest-framework/commit/06e2ad0b7dfb78635aa0e58fa887c7e27f0e17b8 was recently merged into master in drf breaking `ExtraGraphQLView`

[2018-04-29 19:36] cidylle opened #41 "How can I use the decorators in django-graphql-jwt ?"
I am using [django-graphql-jwt](https://github.com/flavors/django-graphql-jwt) and it exposes a couple of decorators such as `@login_required` that are used to decorate the resolver functions to restrict their access.

How can I use such decorators with `DjangoSerializerType`, `.ListField()`, `RetrieveField()`, etc. I only want to restrict access for certain fields such as:

[code]

Resolvers are

[2018-05-11 10:35] soosap commented on #41
Hi this is a very good question. I am asking this myself too. I have enjoyed using `DjangoFilterListField` in a testing setup. But I cannot use it in production due to being unable to apply custom logic when to actually fulfil the request and when not to.

In the graphene-django space I can do this:

[code]

I can add the `icontains` and `iexact` filtering power by just doing this (which is really

[2018-05-11 22:44] atomboulian commented on #39
Hi @EmiM - I was just investigating this very thing this week and I ended up with the following solution.

DjangoListObjectField actually does filtering and pagination, and returns totalCount. Ironically, DjangoFilterPaginateListField does not. Not sure why.

[code]

I hope this helps!

[2018-05-12 05:06] grahammcculloch commented on #40
I also ran into this problem. Had to explicitly require `djangorestframework==3.7.7`.

[2018-05-15 17:17] eamigo86 commented on #39
Hello @EmiM  and @atomboulian, thanks for asking. Sorry for the delay in responding, but the work has kept me very busy.
Could you show me a complete example where DjangoFilterPaginateListField does not return the totalCount field?
Although I propose you that try the DjangoSerializerType, since it serves both to define the types and to define the mutations based on a serializer.

[2018-05-15 18:45] eamigo86 commented on #40
Hello everyone and thank you very much for report this compatibility error.
Sorry for the delay, but I was super short on time. Right now I have started working on a new release that will bring a few improvements and new features.
But for the moment, to avoid this error, work with the last dev version:
[code]
Thank you

[2018-05-15 18:45] #40 closed

[2018-05-16 13:56] dreglad opened #43 "mixed prefetch_related() and select_related()"
Hi @eamigo86, thanks for sharing this!

I was struggling with Django ORM errors like:

 In particular, this happens when both querying AND filtering by a many-to-many or one-to-many relation field.

If i'm not missing something, there seems to be a subtle bug over `utils.recursive_params()` that leads to such fields being used as arguments for `prefetch_related` (expected) and simultaneously for `

[2018-05-20 21:06] eamigo86 commented on #43
Hi @dreglad, thank you very much for the contribution, sure to be of great help, this part of the code intended to avoid the N + 1 queries is a bit tedious and needs some optimization even. regards

[2018-05-20 21:06] #43 closed

[2018-05-25 18:11] yannRavels opened #44 "Limit the number of subresults of a list"
Hi,

I'm wondering if it's possible to limit the number of subresults as on the example:
https://graphql.org/learn/pagination/
Like
[code]

or
[code]

[2018-05-30 13:48] shalakhin opened #45 "How to deal with PointField and GeoDjango fields?"
It seems that using [https://github.com/flavors/django-graphql-geojson](https://github.com/flavors/django-graphql-geojson) raises error here:

[code]

[2018-05-30 14:23] eamigo86 commented on #45
Hi @shalakhin, I will check it. Thanks for report

[2018-06-02 09:20] gsiegman commented on #34
@tadeo I attempted your solution, however when making a GraphQL query my filterset's filter_queryset method never gets called. Is there anything additional you had to do beyond what is showing in your code above?

[2018-06-02 09:22] aldarund commented on #34
@gsiegman http://django-filter.readthedocs.io/en/latest/guide/usage.html#filtering-the-primary-qs

[2018-06-02 09:29] gsiegman commented on #34
@aldarund that did it, thank you!

[2018-06-22 13:32] ollamh opened #48 "DjangoInputObjectType doesn't allow overwriting model fields"
# Problem
I'm using custom logic for input validation of a model field (like, validate it as a string and then convert it into UUID v.5 before save). So, I have a model and schema defined below:

[code]
## What I expect from printing graphql schema:
[code]
## What I get:
[code]
# Solution
I found out that in the `graphene_django_extras/types.py:182` this line
[code]
means that the method `InputObj

[2018-07-10 14:00] #34 closed

[2018-07-18 06:15] jstacoder opened #51 "Include and skip missing"
When using the provided `get_all_directives` function, the default `skip` and `include` directives are discarded #50

[2018-07-18 06:19] jstacoder commented on #41
Any progress on this? Or can you point me in the right direction to do it, if it’s still waiting to be done?

[2018-07-18 19:24] atomboulian commented on #39
Hi @eamigo86! Sorry for my delay in responding - also busy at work. Here's what we are experiencing:

![screen shot 2018-07-18 at 12 17 30 pm](https://user-images.githubusercontent.com/5349946/42902886-eb802f5c-8a84-11e8-9d1c-834aac11c61d.png)

[code]

[code]

[2018-07-18 19:25] atomboulian commented on #39
Let me know if you'd like more code. Basically, there is no totalCount field alongside the array of ProjectType coming back in the response. Thanks for this amazing library!

[2018-07-18 22:35] atomboulian opened #52 "Feature Request/Estimate - nested_fields as a tuple instead of a Boolean"
Hi @eamigo86 , thanks for this great library!!!

Can I make a suggestion?

For our mutations, we have some fields that we would like to pass the Foreign Key ID as an update instead of creating a new object, and some fields that we would like to create a new object through a nested structure. In other words, for some fields we want the result of `nested_fields` = True (nested object creation), and

[2018-07-19 03:09] jstacoder commented on #52
I’ve been looking at similar things lately regarding `nested_fields`  and I really like your idea. Most of the code that uses that value is in `graphene_django_extras.converters` and deals with converting model fields to graphql fields, if you had more questions I could possibly help

[2018-07-19 03:11] jstacoder commented on #44
I believe we are using it, you just need to give an alias to the sub query like this

[code]

[2018-07-19 05:46] atomboulian commented on #52
Hey @jstacoder, glad you like it. I figured there were some people out there who could also benefit from this approach. I checked out some of your other contributions to this library. Thanks for your contributions and for responding to this issue.

Yes, I was also noticing `graphene_django_extras.converters`. Perhaps I can start with finding all the classes calling the converters to pass in the bo

[2018-07-19 07:00] jstacoder commented on #52
Really because of how things are encapsulated, I think you’ll only need to change things inside of the converters.py file, most of the functions (if they relate to a sql foreignKey ie: ManyToManyField) currently use the `nested_fields` Boolean to either create a dynamic type from the relationship (if `nested_fields` is True) or just return a field with type ID (if it’s False) and that’s just the B

[2018-07-19 10:31] eamigo86 commented on #51
Thank you @jstacoder,  for the contribution, I will include it in the next release.

[2018-07-19 10:31] #51 closed

[2018-07-19 10:53] eamigo86 commented on #52
Hello @atomboulian and @jstacoder, and many thanks for the good ideas and the contributions you have made to this library. I am delighted that it has been helpful :exclamation::exclamation::exclamation:

The @jstacoder 's suggestion is valid, but this conditional would only be used in **_conventers.py_** and other minor changes would have to be made in other files so that everything works as expec

[2018-07-19 11:13] eamigo86 commented on #52
Hi again, please test the last [alpha](https://github.com/eamigo86/graphene-django-extras/releases/tag/v0.3.8-alpha4) version, to test this functionality and tell me if it works as expected.

Thank you very much again.
 :+1:

[2018-07-19 17:55] atomboulian commented on #52
Awesome!!! Thank you for such a quick turnaround. I will test it out and let you know within a couple of days!

[2018-07-19 22:43] atomboulian commented on #52
Was able to fix that and other errors by changing the all_directives:

[code]

The get_all_directives() was assuming that the directives were callable, and they aren't.

[2018-07-19 22:44] atomboulian commented on #52
(Also, default_directives was a list instead of a tuple.)

[2018-07-19 23:15] eamigo86 commented on #52
Hi @atomboulian, sorry for that, I just did a push again, please try [this](https://github.com/eamigo86/graphene-django-extras/releases/tag/v0.3.8-alpha5)

[2018-07-21 00:29] eamigo86 commented on #48
Hi @ollamh, could you tell me in enviroment where you've tried this fix, I'm trying Windows and it works fine, but in Debian it gives me problems:
![photo_2018-07-21_02-27-29](https://user-images.githubusercontent.com/11740026/43030193-aa28c748-8c8d-11e8-865e-ff6c3770822c.jpg)

and after revert your solution all work fine again, any idea why?

[2018-07-23 07:38] ollamh commented on #48
Hi @eamigo86 !

Sorry for a delayed response. It looks like `options` dictionary already contain `_meta` key. Could you provide the call parameters? I'm using Ubuntu 16.04, python 2.7.12 and python 3.5 and it works as expected.

[2018-07-24 17:43] emad-ir commented on #41
Going through the same struggle. Any help would be appreciated

[2018-07-27 19:27] atomboulian opened #55 "Need to pin packages"
https://github.com/graphql-python/graphql-core/issues/201

Hi, our team is experiencing issues with graphql-core 2.1 - all queries are erroring if they have a blank value in any enums in the data response. In order to stop this side effect for now, and in accordance with good practice of pinning versions until testing new versions, please pin the packages.

I have a PR with this fix here: https://

[2018-07-27 19:37] eamigo86 commented on #55
Thanks for notifying, could you explain better what this bug consists of? Thank you

[2018-07-30 01:25] louisdvs opened #56 "Custom Resolver for DjangoFilterPaginateListField/DjangoFilterListField/DjangoListObjectField"
Just wondering if it is possible to define custom resolver for the fields exposed by graphene-django-extras.

My project has two Apps (with separate databases) but with relationships across apps.

I would like to use a custom resolver to select related objects where the connection is not defined in the ORM but still have access to pagination and filtering.

I tried to do this as I would in Graphen

[2018-07-30 18:42] atomboulian commented on #55
Thank you for merging this!

The bug is from the downstream dependency graphql-core, a dependency of graphql-python. The problem is every Enum that has a blank value in the database errors in responses:

[code]

[2018-08-01 00:14] atomboulian commented on #52
Sorry I had to write some other features before circling back on creating our nested mutations.

I can verify that this is working well! Thank you very much! 👍

[2018-08-01 00:14] #52 closed

[2018-08-01 00:16] atomboulian commented on #55
So, this pinning the packages did not actually fix the problem as expected. Not sure exactly what to do about it now. I will think on this.

[2018-08-01 09:29] eamigo86 commented on #55
Hello ana, thanks again for writing, I've been absent a few days, but I plan today or tomorrow to start working on a new version, which will contain great improvements and new features, as well as the fix of all bugs reported pending, or at least The majority of them

[2018-08-01 18:04] atomboulian commented on #55
Wow! Please keep me posted. If there's anything that I can help with that's small, I would love love love the chance to contribute.

Specifically, we would like to do more with DRF serialization for serializers other than the ModelSerializer (and not require the model in Meta).

Thanks for writing! and thank you for the open dialogue. I would like to continue this.

[2018-08-03 14:08] Donnyyyyy commented on #35
Hello!

If you need a custom value that is based on other field values, you can simply add a field like to ``ObjectType``:

[code]

[2018-08-17 07:30] kennandavison opened #57 "PyPi package out of date (Last Released: May 10)? Directive import in README updated recently"
Hi,

Hope this issue helps others out. I was trying to import all_directives like in the README and getting an error since it hasn't been updated on PyPi.

I can resolve this by installing directly from GitHub/installing 0.3.8a8, but it'd probably make sense to update the PyPi package/make a note on the README.

[2018-08-17 16:03] eamigo86 commented on #57
Hi @kennandavison, the last version in PyPi repository is [0.3.8a9](https://pypi.org/project/graphene-django-extras/0.3.8a9/), but being alpha versions, when you do:
[code]
 The pip package allways installs the last stable version (0.3.7), which is the last one that is described in the readme.
Currently I am working on a new version that will bring many new things in addition to fixing most of the

[2018-08-17 16:03] #57 closed

[2018-08-18 22:00] #35 closed

[2018-08-19 18:22] warm200 opened #59 "How can i override delete method"
Hi,
Thanks for the lib, i like it very much,
quick question is, seems i can't override the delete method,
I want to check if the products owned by current logged in user before i delete it.
but it seems it's never calling delete and never print product in the console,
create, and update working fine
[code]

[2018-08-19 20:45] eamigo86 commented on #59
Hi, @warm200 , the Serializer class have not a delete method, but if you use DjangoSerializerMutation or DjangoSerializerType to define your types and mutations, you can overwrite the delete method:

[code]

[2018-08-19 20:45] #59 closed

[2018-08-20 09:29] webel commented on #56
I'm having the same issue, trying to filter on a search parameter to then receive paginated results, but as the resolver is skipped - as is my search!

[2018-08-22 19:17] aldarund opened #63 "ImportError: cannot import name 'QUERY_TERMS'"
After last update deps for graphene-django-extras from 0.3.8a9
to 0.3.8a10 via renovate  my CI test now throwing a error on launching backend. Work fine with 0.3.8a9.
[code]

My req file

[code]

[2018-08-22 19:47] eamigo86 commented on #63
Hi @aldarund, thanks for report this, this.
The problem is because **django-filter<2.x** isnot compatible with **django<=2.1**. Please try this:
[code]
or downgrade the Django version.

In the last release, I freeze the **django-filter** version to **1.1.0** because it last version have some reported errors compatibility with lastest **graphene-django** version, But I will work on temporally fix t

[2018-08-22 20:33] aldarund commented on #63
relevant PR in django-graphene https://github.com/graphql-python/graphene-django/pull/492

[2018-08-23 14:26] borsden opened #64 "Work together with django-hvad"
Is there any good way to start working with django-hvad?
What i found: it create translations_model attribute in _meta of model. So, minimum we must include fields from this model in _meta.fields.
In my opinion, there is no obvious way to add fields from this model. Of course, we can do it manually for all required fields and resolve them from this model, but i think that it is not pretty.
Also, i

[2018-08-26 00:26] eamigo86 commented on #64
Hi @borsden, this seems a very good extension to make compatible but as I see it has no compatibility with Django> = 2.0 and that's not good? Do you have any information about it?

[2018-08-27 12:18] borsden commented on #64
I know about this issue (https://github.com/KristianOellegaard/django-hvad/issues/344), but last action there was one year ago. Maybe you right, and it is not a good idea to try support legacy extension.
My previous idea with monkeypatching does not work, because i got something like this:
"Accessing translated fields like {model_name}.{field_name} from an regular model requires a translation-awar

[2018-08-27 17:30] borsden commented on #64
Okey, finally i decide use django-parler insead of django-hvad, because it is too horrible)

[2018-08-27 17:30] #64 closed

[2018-08-29 11:09] #63 closed

[2018-08-29 15:32] eclar opened #66 "Compatibility Django 2"
Hello,

Django-filters version has been pinned to 1.1 due to its incompatibility with django 2 (I assume). As the version 2 has been released, do you know what would be needed to have it updated such that we could use graphene-django-extras with django 2 ?

Thanks

[2018-08-29 16:33] eamigo86 commented on #66
Hi @eclar, thanks for ask. Right now, in my free time, I'm working on a new version of graphene-django-extras tested with django 2.1, in this new version there are many new features implemented and many issues reported corrected.

[2018-08-30 03:23] warm200 opened #67 "Dumb question for __init_subclass_with_meta__"
Hi Sir,
Much appreciate for the lib you are working on!  i like it very much.
I wonder if you can give me some guidance on how __init_subclass_with_meta__ works,
i keep investigating in the source code and other examples but still can't figure it out.

in this method:

[code]

the point confused me is I didn't find anywhere that __init_subclass_with_meta__ get called as a classmethod in my code,
a

[2018-08-30 10:59] bwimmerl opened #68 "undocumented feature: defining a DjangoObjectType as baseType for DjangoListObjectType or DjangoSerializerType"
Hi,
first of all: awesome package!
I don't really have an issue to report, but a feature that should be documented and was hard for me to find.
My problem was that I intended to use DjangoSerializerType for common queries and mutations. Everything worked fine, apart from including property functions from the django model. I had to define a baseType like this, which worked fine:

[code]

But then I

[2018-08-30 12:02] eclar commented on #66
Thanks for your answer. Do you have any idea when a version compatible with Django2 will be released ?

[2018-08-30 12:05] eamigo86 commented on #68
Hi @bwimmerl, thanks for write. You are right, only that sometimes we pass details when writing the documentation of some feature and we assume that whoever reads it will not have problems with these details.
Right now, in my free time, I'm working on a new version of graphene-django-extras with many new features implemented, many issues reported corrected and it will no longer be necessary to def

[2018-08-30 12:05] #68 closed

[2018-08-30 12:08] eamigo86 commented on #66
Well, the exact date could not tell you, but I think that within 10 days it will be available

[2018-08-30 13:11] bwimmerl commented on #68
Alright :) Do you know when your new version might be finished?

[2018-08-30 13:58] eclar commented on #66
Perfect, thanks !

[2018-08-30 14:40] eamigo86 commented on #68
from 10 to 15 days approximately

[2018-08-30 14:46] keyeMyria opened #69 "How To Custom Field Filter?"
I'm using [django-unixtimestampfield](https://github.com/myyang/django-unixtimestampfield), and some error is raised.

`  File "/Users/keyeMyria/envi/for_python/env_demoni/lib/python3.6/site-packages/graphene_django_extras/fields.py", line 226, in __init__
    self.filterset_class = get_filterset_class(filterset_class, **meta)
  File "/Users/keyeMyria/envi/for_python/env_demoni/lib/python3.6/site-

[2018-08-30 14:56] eamigo86 commented on #69
Hi @keyeMyria, that seems like an error with the django-filter module, not with django-graphene-extras, as I see it, it sends you to read this section:
 https://django-filter.readthedocs.io/en/master/ref/filterset.html#customise-filter-generation-with-filter-overrides

[2018-09-05 12:09] aldarund commented on #66
@eamigo86 graphene-django merged PR for django-filters2, will be released on pypi today or tomorrow
https://github.com/graphql-python/graphene-django/pull/492#issuecomment-418705569

[2018-09-05 15:47] paymog commented on #35
How do I resolve a django object along with an extra, calculated field like below during a query?

[code]

[2018-09-05 19:16] eamigo86 commented on #35
Hi @paymog , you must define a resolver function for your **extra_field** inside **ProjectType** definition

[code]

[2018-09-05 19:50] paymog commented on #35
Oooh, cool. Thanks @eamigo86!

[2018-09-05 20:19] paymog commented on #35
@eamigo86 any chance you know how to conditionally resolve the extra field? The field I need to calculate requires lots of time to compute and I was hoping I could add a flag to the Query which decides whether or not to calculate the field. I was imagining something like:

[code]

[2018-09-05 22:19] syrusakbary commented on #66
A new version of `graphene_django`: `2.2.0` is now live on PyPI

[2018-09-06 00:24] aldarund opened #70 "iso8601 with django-graphene 2.2"
In django-graphene 2.2 iso8601 was removed from requirements
https://github.com/graphql-python/graphene-django/commit/a59f41b08045b052c24d690e55baa6cfdca429cb

But graphene-django-extras still relies on it, and dont have a requirement for it which will lead into error

Traceback (most recent call last):
  File "/pipeline/source/back/venv/lib/python3.6/site-packages/graphene_django_extras/base_type

[2018-09-06 00:45] eamigo86 commented on #66
Hi @syrusakbary , thanks for the great news !!!!

[2018-09-06 00:54] eamigo86 commented on #70
Hi @aldarund, thanks you for reporting this error, I will check it and it will be fixed in the next release.  :+1:

[2018-09-06 15:45] eamigo86 commented on #70
Hi @aldarund , please test the last version (0.3.8b8) to avoid this error.

[2018-09-06 15:45] #70 closed

[2018-09-06 15:46] #69 closed

[2018-09-07 14:46] paymog commented on #35
For anyone who comes across this in the future, some testing tells me that `resolve_extra_field` isn't called unless the client requests `extra_field` in their query.

[2018-09-21 18:14] jeffcjohnson opened #72 "support auto_camelcase=False"
I was happy to learn that graphene added support for turning off camel casing field names.

`schema = graphene.Schema(query=Query, auto_camelcase=True)`

It all seems to work except for DjangoListObjectType has totalCount.  I tried changing it to total_count in the code and was hoping it would get auto-camel cased to totalCount or not depending on the auto_camelcase setting but it didn't.

I don't

[2018-09-22 11:40] eamigo86 commented on #72
Hi @jeffcjohnson, It can be perfectly supported, in the next days I will release a release that will have a few improvements, including this one. Thanks for reporting. Best regards

[2018-09-25 13:00] emad-ir commented on #41
@eamigo86 @jstacoder Will you please advice a solution?

[2018-10-09 17:32] eclar commented on #67
Hi,

Take a look over graphene code :) The objects from this library inherit from graphene.

here for instance: https://github.com/graphql-python/graphene/blob/master/graphene/types/interface.py#L28

[2018-10-10 05:33] helpse opened #75 "Support for new versions of graphene and django_filter?"

[2018-10-10 17:24] jozefsukovsky opened #76 "Child node filterset_class request object"
Hey,

FilterSet objects assigned as filterset_class have access to request via self.request.

However if the filterset is used in child node, like:

[code]

the request is not available. Seems happening here: https://github.com/eamigo86/graphene-django-extras/blob/master/graphene_django_extras/fields.py#L119

Can I help with creating PR for this?

Thanks for considering this issue!

[2018-10-11 18:15] eamigo86 commented on #75
I'm working on updating the module with the new changes in the graphene core, as well as eradicating issues and adding new features. Unfortunately I only have my free time available so the progress is a bit slow.

[2018-10-11 18:15] #75 closed

[2018-10-11 18:21] eamigo86 commented on #76
Hi @jozefsukovsky. Thank you for reporting this issue, I will analyze it carefully, although any help is welcome. Thank you

[2018-10-12 12:00] jozefsukovsky commented on #76
Thanks @eamigo86  for your response, I added the request object in #78

[2018-10-25 19:30] Alir3z4 commented on #55
I'm having the exact same issue and wasn't able to fix it with many provided solutions.
This happens with any CharField with choices where graphene generates Enum for them.

However, in this case a blank/empty string will cause this error, but `null` values don't.
My solution was to just to set all the blank values in database to `NULL`.

To be honest it makes sense for a field that accepts a limi

[2018-10-25 20:58] Alir3z4 opened #81 "filter_fields on Enum/ChoiceFields"
The request is similar to https://github.com/graphql-python/graphene-django/issues/176.

I have a `DjangoSerializerType` that I'm trying to set `filter_fields` on its choice/enum field, however the enum field happens to be simply an String type.

[code]

Any idea how this can be resolved ?

[2018-10-26 05:35] sulabhjain opened #82 "Provide option to override id field with some substitute e.g. uuid"
https://github.com/eamigo86/graphene-django-extras/blob/1c95c887a2d8f4229ee2f82dd1b508f3cd80e4e4/graphene_django_extras/fields.py#L22

Hi, I have a use case where I have id field which is internal to db and additionally have a uuid field which acts as a primary key when exposing api. The api client when searching for object will be passing uuid for single object search. Here, in the above referenc

[2018-10-27 13:01] eamigo86 commented on #82
Hi @sulabhjain Thanks for the suggestion, I will have it present in the next release, which is almost ready

[2018-10-31 18:26] Alir3z4 opened #84 "Supporing filter_overrides for django-filters when using DjangoSerializerType"
One of the fields that I'm trying to add "exact" filter expression to is not a standard Django Model Fields, it's a [PhoneNumberField](https://github.com/stefanfoulis/django-phonenumber-field) and usually when django-filters don't recognize the Field class it will ask you to define the type of the field and filter expression via [`filter_overrides`](https://django-filter.readthedocs.io/en/master/r

[2018-11-08 12:47] bpsagar opened #85 "Excluding fields from input when using DjangoSerializerMutation"
Hello @eamigo86,

Is there a way to define the fields that we want as input when creating / updating a model using DjangoSerializerMutation? I want to save logged in user in one of the fields and I can't seem to exclude that field from the mutation input.

Currently I'm overriding `perform_mutate` to assign the logged in user to the instance. Please let me know if this is the correct way.

Thank y

[2018-11-08 20:27] jeffcjohnson opened #86 "Registry key collisions"
Models with the same name in different apps are stored with the same key in graphene_django_extras.registry.Registry which then causes errors when using those models in GraphQL.

Given:
foo.models.Bar
bah.models.Bar

Even if we have to name the DjangoObjectTypes:
FooBarType
BahBarType

It should be possible to use those two model objects.

[2018-11-14 10:23] bacteria323 opened #87 "MultiSelectField returns null during query"
Hi

I am using the django-multiselectfield package and when I am making a query it always returns null. Am I missing some configuration because the other fields seems to working fine.

My enum for the Multiselect field
[code]

My model
[code]

[code]

When I am doing the query

[code]

The result is
[code]

[2018-11-25 12:20] zurek11 opened #88 "Query many-to-many relations"
Query DjangoListObjectType does not resolve many_to_many relations from django-mapping.
Example:
[code]
Wallet model has Foreign key to User. When I was using pure graphene, this userwalletSet was working. It connected all wallets related to users by their id. Why it does not work here? Any solutions? Thank you so much.

[2018-11-25 13:51] eamigo86 commented on #88
Hi @zurek11 , Could you provide me with the models associated with the error you mention?

[2018-11-26 10:00] gvbkr commented on #66
@eamigo86 can you please update when you will release the Django 2.1 support? I am starting a new project and would really like to use this package and do not wnat to downgrade Django. I am running into issues when I try to install this package in my project using Django 2.1.

[2018-11-26 15:37] #88 closed

[2018-11-27 10:04] RickLazaretto opened #89 "Filter implementation with reverse foreign key"
Hello.  I want to implement filter to my query which list users with some relations which I will explain in models:

     class User(AbstractBaseUser, PermissionsMixin):

        class Meta:
            app_label = 'core'
    	    db_table = 'users'
    	    default_permissions = ()

        uuid = models.UUIDField(default=uuid.uuid4, editable=False, unique=True, null=False)
        personal_numb

[2018-11-28 04:45] bgsuello commented on #45
Any solution for this?
[code]

[2018-11-29 18:57] abensur opened #91 "Can't delete using .DeleteField(). Invalid literal for int() with base 10: '...'"
[code]

heres my query:
[code]

and `id` looks like this: ```"Q29udHJhY3ROb2RlOjU4Mg=="```

[2018-12-03 14:41] #91 closed

[2018-12-12 10:15] Musbell opened #92 "Returning TypeError when using DjangoSerializerType:"
I tried using the latest dependencies version and I keep having this error when using the `DjangoSerializerType`:
[code]

Any idea why I stumble this error?

_Originally posted by @bgsuello in https://github.com/eamigo86/graphene-django-extras/pull/90#issuecomment-444369442_

[2018-12-12 10:22] Musbell commented on #92
How can the above stated issue be fixed?

[2018-12-12 14:02] Musbell commented on #67
Hello!
@eclar @warm200 Do any of you have anidea on how to fix this: [__init_subclass_with_meta__() got an unexpected keyword argument 'fields'](https://github.com/eamigo86/graphene-django-extras/issues/92)

[2018-12-18 12:09] fabioanderegg commented on #92
Hi, I got the same error and fixed it the following way: You have to define a class deriving from DjangoObjectType AND DjangoListObjectType. E.g.:
[code]

Commenting out the UserType class gives the error above, even when UserType is not referenced anywhere. Looks like some graphene black magic happening here.

@eamigo86: Is this behaviour intended?

[2018-12-21 00:00] jstacoder commented on #41
@emad-ir playing with this more i realized overloading the class's `list_resolver` method is the way to go here, you also get access to override the default `filtering_args` for the `filterset` something like this:

[code]

then in your `Query`:

[code]

[2018-12-27 03:12] kamilkijak opened #95 "Ordering should only accept fields specified in only_fields"
Currently the default pagination (`LimitOffsetGraphqlPagination`) allows to order by any of the model's fields. It could be a security issue (f.e. ordering by some private fields like address, budget, etc.).

It'd be useful to add a check if `order` value belongs to `only_fields` from specific DjangoObjectType. It should be added [somewhere here probably](https://github.com/eamigo86/graphene-djang

[2018-12-27 05:37] kamilkijak opened #96 "ManyToMany fields are not working"
Querying `ManyToMany` fields is not working for `DjangoListObjectField` and other ListFields. Example below (it's based on `testproject` from the repository, [you can see the commit here](https://github.com/kamilkijak/graphene-django-extras/commit/01ef25d32d7e01921e40db8ebb63e01be93a0165)):

* **testproject/schema.py**
[code]
* **GraphQL query**
[code]

* **result**
[code]

@eamigo86 Am I missing

[2018-12-30 12:50] simhnna opened #97 "Error using DjangoSerializerType"
I can't figure out how to use the DjangoSerializerType

Below is an example for users that isn't working:

[code]

I'm getting an error although I'm not even including it in the schema:
[code]

[2018-12-30 16:11] eamigo86 commented on #97
Hi @simhnna, thanks for report this, could you test the latest version 0.4.1, and tell me know if this error disappear? Thanks and Congratulations for the New Year !!!

[2018-12-30 17:03] simhnna commented on #97
It doesn't appear to be working.
I'm still getting this:
[code]

It appears to be working when I comment [this](https://github.com/eamigo86/graphene-django-extras/blob/b312031b1ae6eb13fa81d61c1c7d217a9b19e8af/graphene_django_extras/base_types.py#L72) line

[2018-12-30 17:36] eamigo86 commented on #97
Hi again @simhnna, sorry for this mistake, that code portion is for the next big release, i already fix that, please test again with latest version 0.4.2.

[2018-12-30 18:36] simhnna commented on #97
yeah it's working now. thanks for the great lib and fast response

[2018-12-30 18:36] #97 closed

[2019-01-04 16:08] obisimon commented on #96
Hi @eamigo86
with Django 2.1.4 it seems to work when get_related_model() is not called from get_model_fields() in graphene_django_extras/utils.py
Regards Simon

[2019-01-04 17:33] eamigo86 commented on #96
Hi @obisimon, thanks for the help, I appreciate it!!!

[2019-01-05 00:44] obisimon commented on #96
Hi @eamigo86, sorry a copy/paste error of mine, it's the **get_reverse_fields()** called in get_model_fields() on line 80.

[2019-01-07 22:09] eamigo86 commented on #96
Hello, @obisimon and @kamilkijak, the issue is already solved in the latest version 0.4.3.

[2019-01-07 22:09] #96 closed

[2019-01-09 00:50] kamilkijak commented on #96
@eamigo86 great! Thank you.

We could also consider adding a test for that. I believe adding something like GroupType from [the mentioned commit](https://github.com/kamilkijak/graphene-django-extras/commit/01ef25d32d7e01921e40db8ebb63e01be93a0165) and querying that field (even if it's empty) would be good enough for now.

[2019-01-16 17:40] kneufeld opened #99 "No docs on overriding a field"
I had a lot of difficulty getting a django `BinaryField` overridden and I'm not sure if I did it correctly but it seems to work.

`graphene_django.extras.converter.convert_binary_to_string` doesn't seem to get called/registered no matter how/when I import it. I couldn't find any docs/examples/tests anywhere showing how to make use of the converter functions but I may have just missed them somehow.

[2019-02-01 19:54] sulabhjain commented on #43
Hi @eamigo86, I ran into this issue while trying to find a way to avoid N+1 queries. I am not sure if this is the right forum to address this question ?

I have a use case similar to the one below. I am fetching orders list and each order belongs to a product where each product can be put into multiple categories which I am trying to list along side product details (yes this is 3 level nested..).

[2019-02-04 09:17] eamigo86 commented on #43
Hi @sulabhjain, I am aware that the function responsible for optimizing queries and avoiding N + 1 queries is not working as it should.
I am currently working on a more efficient solution.
The other module that you mention looks good, but I do not know what degree of integration you would have with this package.

[2019-02-10 18:31] Kendysond opened #101 "In query set on filter_fields returning Expected type \"Float\", error"
Hi,

I'm trying to filter using the `in` query set, but it's returning an error about expecting a Float. Anyone experienced this and got a solution?

Schema type

[code]

Query
[code]
Error
<img width="456" alt="screenshot 2019-02-10 at 10 28 14 pm" src="https://user-images.githubusercontent.com/5365813/52537736-5023cd00-2d83-11e9-8e71-f793ac8795e1.png">

[2019-02-14 22:12] MagratGarlick opened #103 "Customized Filters not applied on nested nodes and only work on top level."
user defined filterset_class works on the top level, but gets ignored on all nested nodes.
the traditional lookup expression however works on them.

this's due to different handling in resolver on how the filter kwargs gets applied.

PR 102 addresses this issue.

[2019-02-14 22:12] MagratGarlick commented on #103
https://github.com/eamigo86/graphene-django-extras/pull/102

[2019-02-15 01:38] jstacoder opened #104 "DjangoListObjectField seems to represent a single object"
@eamigo86

just like the other list fields i would think that DjangoListObjectField should call __init__ with the passed `_type` wrapped with `graphene.List`

ie: https://github.com/eamigo86/graphene-django-extras/blob/master/graphene_django_extras/fields.py#L98

am i wrong?

[2019-02-20 12:12] fabioanderegg commented on #43
Another workaround to add select_related and prefetch_related is to override the list_resolver method from the DjangoListObjectField class:
[code]
A nice API to do this would obviously better in the long term.

[2019-02-26 23:35] Kendysond commented on #41
Thanks @jstacoder ! This really helps!

[2019-03-03 04:58] sulabhjain commented on #95
Just ran into this issue while searching if there is an existing issue with default ordering not working.
I would suggest that it checks only_fields with the exception if ordering is set on the server side along with pagination.

[code]

[2019-03-03 05:04] sulabhjain opened #106 "Ordering not working in LimitOffsetGraphqlPagination"
Opening an issue where ordering has not been working as mentioned below.

------
Just ran into this issue while searching if there is an existing issue with default ordering not working.
I would suggest that it checks only_fields with the exception if ordering is set on the server side along with pagination.

[code]

_Originally posted by @sulabhjain in https://github.com/eamigo86/graphene-django-

[2019-03-04 09:43] eamigo86 commented on #95
Hi @kamilkijak and @sulabhjain, thanks for writing, in these last days I have been a bit busy in other personal projects (a baby), for which I have not been able to dedicate the time I would like to update this module. But very soon I will release a new version with all these issues reported already corrected

[2019-03-06 13:51] ceelian commented on #29
Any solution to this so far?

[2019-03-11 23:57] #41 closed

[2019-03-12 00:39] obisimon commented on #101
Hi @Kendysond

Using a custom filter class worked for me.

[code]
(note: the filterset_class is applied in a subclass of DjangoListObjectType)

The 'BaseInFilter' is mapped to a String, so you have to pass your values as a comma seperated string.

[code]

Regards Simon

[2019-03-13 21:24] Kendysond commented on #101
Thanks @obisimon ! It worked!

[2019-03-13 21:24] #101 closed

[2019-03-29 10:02] kawasakikou commented on #41
Thanks @jstacoder!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2019-04-03 22:11] #92 closed

[2019-04-03 22:11] #67 closed

[2019-04-03 22:12] eamigo86 commented on #67
Hi @Musbell, look [this](https://github.com/eamigo86/graphene-django-extras/issues/92#issuecomment-448199479).

[2019-04-05 03:55] jstacoder commented on #41
np

[2019-04-11 09:10] novelview9 opened #107 "is their any elegant way to use input_type and output_type differently with DjangoSerializerMutation or DjangoSerializerType"
like as output_type params?
or load registry() and put output_type manually?

[2019-04-11 11:29] eamigo86 commented on #107
Hi @novelview9, I'm not entirely clear about the question you ask, you could put an example of code with the doubt?

[2019-04-12 01:41] novelview9 commented on #107
to check "grahpene_django_extras.types.DjangoSerializerType",
input_type and output_type are declared with this code.

[code]
If I want to use different fields (input and output) like this case, what is the best solution?
[code]

[2019-04-12 03:01] novelview9 commented on #107
I've did it now like below
[code]

[2019-04-18 13:05] kawasakikou commented on #81
me too

[2019-04-18 18:42] pheel opened #108 "Aggregate functions/queryset-level field"
Thanks for this great package! What would be the best strategy to implement a field like `oldestUser` in the hypothetical query below?

[code]

I looked at the DjangoListObjectType class and found that "totalCount" comes from _meta.fields, but I don't understand how that field actually gets connected to a queryset count value. Ideally, I would like to init UserListType with an additional dict that

[2019-04-21 12:38] #108 closed

[2019-04-21 12:38] pheel commented on #108
https://github.com/pheel/graphene-django-extras/commit/d18d822c9408854544dda03b89964c7107187464

[2019-04-26 10:54] cramshaw commented on #43
Hi!
I came across this dealing with the exact same problem, for anyone else who does, my solution inspired by @fabioanderegg was to use graphene-django-optimizer:

[code]

[2019-05-30 08:55] CharifZahlan commented on #87
Same issue here, @bacteria323 did you figure it out?

[2019-06-21 11:23] ijharulislam opened #111 "Make update for graphene-django V2.3.2"
Graphene-dajngo released a new version 2.3.2. graphene-django-extras is not working with recent realese.
Facing this issue:

[code]

[2019-06-22 21:46] BenjjinF commented on #41
@jstacoder this solution works if your models don't have any foreign key fields which the user isn't permitted to view. I haven't been able to find a way to do a permissions check per-field.

[2019-06-26 12:12] nuarhu commented on #111
is fixed in/with https://github.com/eamigo86/graphene-django-extras/pull/110

[2019-06-30 07:53] drdla commented on #111
I just researched the problem and found that bugfix in master.
But the last release is from January.
Is it possible to release that fix in the next couple of days?
Right now we have to keep our dependencies outdated because the current versions are breaking.

[2019-06-30 20:19] eamigo86 commented on #111
Hello friends, thank you for your feedback. I have updated the version in Pypi (0.4.5)

[2019-06-30 20:19] #111 closed

[2019-07-16 04:32] #107 closed

[2019-07-16 13:14] joeydebreuk opened #112 "Suggestion: Make "'{}_Generic_Type'" configurable"
ATM I can not change the '{}_Generic_Type' value, resulting in UpdateModelGenericType, etc.

I suggest we add some way to be able to change this. I suggest:
1. create some config variable that defaults to ''{}_Generic_Type'' and can be changed.
2. Create some way we can change `factory_kwargs` that is passed to `factory_type` method, because `factory_type` gets `name` out of `**kwargs` but there i

[2019-07-21 20:14] simhnna opened #113 "Add DjangoUpdateObjectType"
You can set the InputObjectType, but AFAIK the UpdateObjectType is missing.
Ideally there would be a simple way to reuse the InputObjectType for updates as well

[2019-08-05 21:24] karlosss opened #114 "[INVALID] DjangoFilterListField on reverse relations?"
Hi,

is it somehow possible to use `DjangoFilterListField` on reverse relations? Let me show you an example:

[code]
I would expect such a query

[code]

to list all publishers and for each one, all their books whose name contains an `a`. Instead, I get this:

[code]

My fault, or a bug? The system seems to ignore reverse relations completely. If you need any more code, just please ask. Thanks a l

[2019-08-06 08:08] karlosss commented on #114
I am just stupid, everything works as expected. Sorry!

[2019-08-06 08:08] #114 closed

[2019-08-07 03:56] iynaix opened #115 "DjangoObjectType incorrectly produces nullable fields"
Using the following simple schema and the default `User` model.

[code]

Produces the following graphql types:

![UserType](https://user-images.githubusercontent.com/94313/62593435-4087da00-b909-11e9-958d-c64fb035030a.png)
![UserTypeGDE](https://user-images.githubusercontent.com/94313/62593439-441b6100-b909-11e9-9969-eb7e995748a2.png)

In the schema generated by graphene-django-extras, every field

[2019-08-07 08:29] karlosss opened #116 "Feature request: ordering of results specified by the user"
Hi,
the library seems to be unable to do something like the following, and it would be really nice if it could:

[code]

This should list id and name of books, primarily sorted by name and in case of a clash by id. There is an option to sort in pagination, but it seems to be rigid.

Am I missing something? Is there any easy workaround?

Thanks!

[2019-08-07 20:28] eamigo86 commented on #116
Hi @karlosss, sorry I miss this in doc. Try to make the queries like this:
[code]

This is available with this definition (See README):

[code]

[2019-08-07 20:37] karlosss commented on #116
No problem, thanks a lot for your answer! I really appreciate your work, since graphene without relay is much more intuitive.

By the way, can I make this recursive? I mean a query like this:

[code]

It shall list first 50 owners and for each of them, their first 10 cars. I played around a little bit and did this (not the nicest solution), but it just lists all cars regardless of their owners:

[

[2019-08-08 14:20] karlosss opened #117 "Permissions with graphene-django-extras"
Hi everyone,

I would like to implement an easy permissions system. With original `graphene-django`, it was quite straightforward. It was sufficient to make a similar method for each field on an object:

[code]

Here it is a bit more difficult, since `DjangoObjectListField` just bypasses these methods. The docs say that they are not needed, but even if they are present, they are just simply ignore

[2019-08-20 00:15] jstacoder opened #118 "graphene v2.1.8 breaks DjangoSerializerType"
DjangoSerializerType needs interfaces in its options object since the newest graphene release.

[2019-08-25 16:36] eamigo86 commented on #118
Hi @jstacoder, I've just released a new version that corrects this error. Please test it and enjoy it. Regards

[2019-08-25 16:36] #118 closed

[2019-08-27 12:28] fabienheureux opened #119 "Access @property attributes when using DjangoSerializerType"
Hi 👋,

It seems like it is not possible to access `@property` attributes defined in models if queries are defined using `DjangoSerializerType`.

Here is a summarized version of the code I am trying to use

[code]
[code]
[code]

I get each time the following error: `Cannot query field \"name\" on type \"ContactGenericType\"`
If I use DjangoListObjectField method to define my models queries, it work

[2019-08-29 21:25] dpretty commented on #119
I've just been trying to figure this out as well.

Something which worked for me was to create a separate DjangoObjectType with the property defined.

[code]

And then the DjangoSerializerType seems to pick it up as the registered type. It seems a bit superfluous, perhaps there's a way to register ContactModelType as the type to be returned for queries but don't have time to check that right now..

[2019-09-05 21:37] jstacoder opened #120 "v0.4.6 still isnt on pypi"
still cant pip install graphehe-django-extras==0.4.6

current latest shows 0.4.5

i know i can installl from git, but i really prefer pip

[2019-09-06 05:49] eamigo86 commented on #120
Hi @jstacoder, I have just checked it in the Pypi repository and I see the latest version since 08/26

[2019-09-06 17:52] jstacoder commented on #120
@eamigo86 running pip install with --verbose showed the issue:

[code]

does it really only support python 3 now?

[2019-09-06 20:05] eamigo86 commented on #120
Hi @jstacoder, I have not tested the module in python 2 anymore, but in theory, the code is compatible as long as its dependencies support it. I will check that

[2019-09-28 16:32] grusirna opened #121 "V2.6 Version is not compatible"
Graphene-django updated to 2.6, adding "DjangoListField only accepts DjangoObjectType types" causes version incompatibility。

[2019-09-28 16:42] grusirna opened #122 "Reverse query is not supported"

[2019-09-28 17:26] grusirna commented on #114
Could you tell me how to do it?

[2019-09-28 18:31] karlosss commented on #114
Unless you tamper with the library like I did, it shall work out of the box. It's quite hard to guess without seeing any code or concrete issues.

[2019-10-04 08:21] obisimon commented on #121
@grusirna, i use the `DjangoObjectType` directly from graphene_django as a workaround

`from graphene_django import DjangoObjectType`
instead of
`from graphene_django_extras import DjangoObjectType`

but I have not really tested it

[2019-10-15 10:37] #76 closed

[2019-10-15 10:46] #85 closed

[2019-10-15 10:50] eamigo86 commented on #121
Hi @grusirna, this was fixed in the last release. Thanks for report

[2019-10-15 10:50] #121 closed

[2019-10-15 10:51] eamigo86 commented on #122
Hi @grusirna, could you provide more info, please?

[2019-10-15 10:59] eamigo86 commented on #89
Hi @RickLazaretto, sorry for big delay, you must read the README to understand how to define filters to the Types in graphql and how they are used with Fields.
If you still need help, please do not hesitate to contact me

[2019-10-15 10:59] #89 closed

[2019-10-16 09:22] sarendsen commented on #121
still receiving this error with graphene-django==2.6.0 and graphene-django-extras==0.4.7

[2019-10-16 09:24] eamigo86 commented on #121
Hi @grusirna, thanks for report it, I will check that

[2019-10-17 18:50] leot78 opened #124 "DjangoListField error in 0.4.7"
Hi,

I have updated graphene-django to 2.6.0 and updated graphene-django-extras to 0.4.7 and now i am having this error :
[code]
I've seen that in 0.4.7 there is this commit [0e7a6f86e2c225b](https://github.com/eamigo86/graphene-django-extras/commit/0e7a6f86e2c225bb97d45439e8a5707e0c38089a) that seems to fix the problem so i don't why i'm still having this error.

Thank you for this amazing librar

[2019-10-17 18:57] leot78 commented on #124
Shouldn't this [line](https://github.com/eamigo86/graphene-django-extras/blob/c9eb5a896b467b83f3f708820188890f109962b6/graphene_django_extras/types.py#L12)  be replaced  by `from graphene_django_extras.fields import DjangoListField` ?

[2019-11-08 10:37] kokokh commented on #124
I am receiving the same error too, for now I have reverted back to graphene-django 2.5.0.

[2019-11-08 10:56] eamigo86 commented on #124
Hi @kokokh, has been this error with version 0.4.8?

[2019-11-11 09:38] kokokh commented on #124
yes, I updated from 0.4.6. it seems to work without any issues with graphene-django==2.5.0, but not 2.6.0

[2019-11-18 13:09] Rydra commented on #117
Pinging as I'm interested on this as well, since I want to restrict the queries our users can make

[2019-11-18 15:43] topletal commented on #117
Hi,
I tried to make django model mutations for django-graphene more accessible and customizable, in similar way to django rest framework, I published it here: https://github.com/topletal/django-model-mutations, any feedback is welcomed, also please keep in mind its just initial release and
although there are decent tests, there might be some edge cases not tested yet - graphene does a lot of magic

[2019-11-19 23:39] tpict commented on #115
It appears that `is_required` isn't checking whether or not fields are nullable: https://github.com/eamigo86/graphene-django-extras/blame/master/graphene_django_extras/utils.py#L206

[2019-11-22 07:02] digitalw commented on #39
any news? is this solved?

[2019-11-22 23:16] jstacoder commented on #120
looks like something defiantly changed, because as of 0.4.6 i can no longer install. (i am on python version 2.7)

[2019-11-22 23:20] jstacoder commented on #120
i have a weird feeling it was this commit: https://github.com/eamigo86/graphene-django-extras/commit/e7c99c8a22d432e4f85a3f635b379b88919258c1#diff-522adf759addbd3b193c74ca85243f7d

[2019-11-23 22:32] shockflash commented on #117
I have a similar problem right now, but with querysets.
The way graphene-django-extras handles a lot of internal logic looks odd to me. Is there any official guide for that, in addition to the small README?

[2019-11-25 18:59] oldani commented on #82
@eamigo86 Will this be released? I was looking into integrating this in our app but I have the same case scenario as @sulabhjain

[2019-11-29 09:18] killinit commented on #41
@jstacoder
please provide a full example.

[2019-12-27 19:18] Abbondanzo opened #127 "Cache doesn't respect authentication"
Hi!

I just wanted to point this issue out since I came across it during a bit of manual testing. The setup is simple--say we have a sample query that is specific to the user's needs:

[code]

Since the caching relies on the body of the query to determine uniqueness, the query might look the same from both users (i.e. they want a list of `MyModel` with `custom_id` of 5):

[code]

And, depending on

[2020-02-05 19:26] axwalker commented on #124
I'm also getting this error with:

graphene-django==2.8.0
graphene-django-extras = "0.4.8"

whenever I try to use `DjangoSerializerType`.

[2020-02-19 02:22] rapita commented on #64
Hi @borsden
Please give your example of using django-graphene with django-parler

[2020-03-10 20:51] sbernier1 opened #128 "Using "__in" filter lookup expression"
Hello,

I would like to use "__in" as a filter lookup expression but I am getting errors. I have a manyToMany relation on a model:

`
class A(models.Model):
  b_list = models.ManyToManyList(B)

class AObject(DjangoObjectType):
  class Meta:
    model = A
    filter_fields = {
      "b_list": ("in",)
    }

class Query(graphene.ObjectType):
    as = DjangoFilterPaginateListField(AObject, pagination

[2020-03-11 14:19] sbernier1 commented on #128
here is the complete error log:

[code]

[2020-03-11 21:48] sbernier1 commented on #128
ok so I randomly found a solution. using filter_fields doesn't work, but I can achieve the same result with a custom filterSet:

[code]

using the argument `b_List_In:"1,2"` then works.

[2020-03-11 22:15] sbernier1 commented on #128
nevermind. It works on one-to-many relationships, but not many-to-many, which is my main use-case.

[2020-03-11 23:28] sbernier1 commented on #128
For now I use __in on the ids and I had to change the code (default behavior is that graphene throws an error because [1,2] or "1,2" aren't Floats.):

[code]

[2020-03-14 23:44] sbernier1 commented on #114
Hi, it doesn't work for me. I can add arguments to both separately, but not combined.

I have those 2 queries:

[code]

and I can query both like this:
[code]

but this won't work:
[code]

it gives me this error: `"Unknown argument \"name_Icontains\" on field \"books\" of type \"publishers\"."` 

can you please help?

Thank you.

[2020-03-15 00:01] sbernier1 commented on #117
I wanted to check permissions using `get_queryset`. It works fine with regular graphene using `DjangoListField`, but not with graphene-django-extras. Even though the class is named `DjangoFilterPaginateListField `it doesn't inherit from `DjangoListField` and so it doesn't call `get_queryset` .

[2020-03-22 19:56] dxmxnlord commented on #56
I ran into the same issue and I solved it by subclassing the field like so
[code]
So if you want to use it in a model, you can do so like:

[code]

[2020-03-30 15:31] Faisal-Manzer commented on #124
Same error. Is anyone have any workaround? @eamigo86
Is this fixed in master?

[2020-04-05 11:38] shockflash commented on #124
Workaround: Use pagination

`class MyType(DjangoSerializerType):
    # Main class that brings everything together and defines the filter for the query

    class Meta:
        serializer_class = MySerializer
        model = MyModel
        pagination = LimitOffsetGraphqlPagination(default_limit=25) # ordering can be: string, tuple or list`

[2020-04-27 15:31] freddyli commented on #81
Hey guys! Is there any news on this?

I am trying out graphql (here: with graphene-django) and I also have this problem -- more specific: the filtering seems not to be working with Enums/Choices..

Thanks!

[2020-05-10 08:32] a-c-sreedhar-reddy commented on #35
Hi to call a method declared in the model should I query model using `self.id` and call method on that?

[2020-05-13 18:04] digitalw opened #130 "Type error in date directive"
Hi i get

[code]

my requirements.txt looks like:

[code]

Any ideas? Thanks for the help

[2020-05-14 01:08] tpict commented on #130
Looks like the result of a change to [`graphql-core` merged yesterday](https://github.com/graphql-python/graphql-core-legacy/pull/278). Pinning `graphql-core` to 2.2.1 will get you running again

[2020-05-14 05:49] digitalw commented on #130
thanks, that seems to have fixed it

[2020-05-14 05:49] #130 closed

[2020-05-14 11:34] NeolithEra opened #131 "Potential dependency conflicts between graphene-django-extras and graphql-core"
Hi, as shown in the following full dependency graph of **_graphene-django-extras_**, **_graphene-django-extras_** requires **_graphql-core >=2.2.1,<3.0.0_**, **_graphene-django-extras_** requires **_graphene >=2.1.8,<3.0.0_** (**_graphene 2.1.8_** will be installed, i.e., the newest version satisfying the version constraint), and directed dependency **_graphene 2.1.8_** transitively introduces **_

[2020-05-14 11:35] NeolithEra commented on #131
### Suggested Solution
1.	Loosen the version range of **_graphql-core_** to be **_>=2.2.1_**.
2.	Remove your direct dependency **_graphql-core_**, and use the **_graphql-core_** transitively introduced by **_graphene_**.
3.	Change your direct dependency **_graphene_** to be **_<=2.1.8_**.
@eamigo86  Which solution do you prefer, 1 ,2or 3?
Please let me know your choice. May I pull a request to sol

[2020-05-14 16:58] eamigo86 commented on #131
Hello @NeolithEra, first of all, thank you very much for the analysis carried out on the possible problem of module dependencies. As for the question, I think the best solution would be to apply variants 1 and 3 together, leaving only graphene<=2.1.8 as a dependency.

Likewise, I will start working on a new version of the module, to correct some bugs, add some new features, implement better suppor

[2020-05-21 17:49] omegion commented on #130
I get the same error.

[2020-05-24 14:15] siyanew commented on #56
Any News ?

[2020-05-25 17:24] prabin525 opened #133 "Filter ArrayField"
I have got a `django.contrib.postgres.fields.ArrayField` named Tags as a field and want to filter based on that.

    class CourseListType(DjangoListObjectType):
        class Meta:
            model = Course
            filter_fields = {
                "id": ("exact", ),
                "tags": ("????",),
            }
But what shall be the filter field type for such Arrayfields?

[2020-05-25 17:38] prabin525 commented on #133
I solved it myself, sorry for not looking into documents a bit properly. If someone other faces this problem we should simply create a filterset like

    class CourseFilter(django_filters.FilterSet):
        tags = django_filters.CharFilter(lookup_expr='icontains')
        class Meta:
            model = Course
            fields = {
                'id': ['exact'],
           }

and call this fi

[2020-05-25 17:38] #133 closed

[2020-05-29 14:41] aymaneMx opened #134 "is it safe to use the version currently exist on the master branch"
I faced this issue :
[code]

Than I noticed that you just merged a solution for that #132

Is it safe to use this version on a production env?

[2020-06-01 11:26] eamigo86 commented on #134
Hi @aymaneMx, I just publish the new version with some minor fixes (including this one) in pypi (v0.4.9)

[2020-06-01 11:26] #134 closed

[2020-06-01 11:26] #131 closed

[2020-06-01 11:29] aymaneMx commented on #134
thank you @eamigo86 🙏
BTW, thanks a lot for the great library.

[2020-06-01 11:31] eamigo86 commented on #124
This error should be corrected in the recently released version 0.4.9.

[2020-06-01 11:31] #124 closed

[2020-06-09 16:50] Cimmanuel opened #138 "DjangoFilterPaginateListField bypassing login_required decorator and constraints"
Hello! Please take a look at the code below:

[code]

1. Calling this endpoint gives no regard to the `@login_required` decorator. It works even when the user isn't authenticated.
2. Calling this endpoint just returns every item in the database table instead of items specific to model with the specified ID. It even works if an invalid ID is supplied.

What could be wrong?

[2020-06-09 22:07] gghildyal opened #139 "Potential unnecessary eager load detected when filtering by foreign key field."
The [nplusone](https://github.com/jmcarp/nplusone) library detects eager load when a DjangoListObjectField is filtered by a foreign key.

I have a Place model which can be filtered by the Country it belongs to (Place has an FK to Country model). A query like below will throw an eager load detected exception.

`{
  places(country: "America") {
    results {
      name
    }
  }
}`

**NOTE** - If I

[2020-06-09 23:01] gghildyal commented on #139
This also happens when a DjangoListObjectField tries to list the reverse side of the foreign key.

Eg.
`{
   places { results { countries { name }}}
}
`

[2020-06-10 08:46] gghildyal commented on #122
I think he means this (I can open a new issue if that's better). Explained with pseudo code because its usually better.

class Region(model):
   name = CharField()

class Country(model):
    places = ForeignKey(Place)

Now defined a countries query as DjangoListObjectField.

A query like this
`
{
   countries {
       results {
         places {
            name
        }
     }
   }
}

Fails sayi

[2020-06-10 13:53] IdemenB opened #140 "AssertionError: Query fields must be a mapping (dict / OrderedDict) (...)"
Hi,

First of all thank you very much for this library which seems to cut the heavy boilerplate of using Graphene to a large extent. Yet, I've failed to perform my very first switching tetst into it because of "AssertionError: Query fields must be a mapping (dict / OrderedDict) with field names as keys or a function which returns such a mapping."

What I want to do is very basic, use a DRF seriali

[2020-06-10 19:51] #140 closed, assigned to nobody

[2020-06-11 11:38] IdemenB opened #141 "Complete Many to Many With and Without "Through" Table Example"
Dear @eamigo86 , thanks a lot for this library. I only whish the documentation was a bit more detailed and surprisingly I wasn't able to find a single proper tutorial on any platform using this great library of yours for Graphene and Django.

What I need is a complete example of how to query and mutate models with M2M relations that have a through table or not. .

Example models:

[code]

Using th

[2020-06-12 00:21] Cimmanuel commented on #41
Did anyone properly implement this?

[2020-06-12 08:54] IdemenB commented on #139
hi @gghildyal , can you provide a sample code on how you defined the "filter_fields" attribute which enables you to filter by a field of the related field rather than the ID of it only? I'am using DjangoListObjectType to define Types for the Query.

[2020-06-12 09:45] IdemenB commented on #89
@RickLazaretto  hi, did you find what you were looking for here? I am after the exact filtering need, unfortunately putting foriegn key fields by double underscore into the 'filter_fields' attribute results in "'Meta.fields' contains fields that are not defined on this FilterSet" error.

[2020-06-12 14:12] IdemenB commented on #141
Let me add one more thing; how can I query the Booking instances through a filter defined on the field Person.name? Unfortunately, the following definition is not working unlike reverse lookup filtering of foreign key related models:

[code]

Nor people__name is working...

[2020-06-15 09:10] gghildyal commented on #139
Hi @IdemenB, I think you can use the FK field resolver syntax country__name in the filter_fields. For me I was using a separate filter class like this

[code]

and then using the filterset in the Query object like this

`places = DjangoListObjectField(PlaceListType, filterset_class=PlaceFilter)
`

[2020-06-16 09:38] IdemenB commented on #141
Is someone has experience with the item 2, that is, creating a model instance and relating it with **an already existing** M2M model instance, her help would be much appreciated indeed...

[2020-06-16 11:59] IdemenB commented on #52
Dear @atomboulian , could you provide a very basic sample code (of Serializer and Mutation classes)  and a sample query where you pass the ID of an already existing many to many related instance while creating/updating a model instance? Including overwriting the .create() method of the ModelSerializer I've tried all for no success...

[2020-06-16 12:36] IdemenB commented on #141
Trying to ready every single post on M2M relations and serializers I've found the solution for ITEM 2 thanks to this on SO:
[(https://stackoverflow.com/questions/39391423/django-rest-framework-not-saving-reference-to-many-to-many)]

It is very interesting that if we want to make a M2M relation with an already existing instance of the related model, the serializer has to be defined as "vanilla" Mod

[2020-06-17 08:46] IdemenB opened #142 ""id" field not included as an Input field within Update Operation of DjangoSerializerMutation"
Most probably I am missing something as this is such a core thing that I can't be the first one who runs into the problem, so my apologies if it's been investigated already and this is a duplicate.

The problem is that using DjangoSerializerMutation and defining mutation operations as shown below (and in the documentation) does not include the "id" field into the input; so there is no way for a lo

[2020-06-17 20:17] IdemenB commented on #142
I believe I've sourced the problem and still not sure whether I'm missing something. Because without this fix there is no way to use this library for update mutations  with DjangoSerializerMutation  and DjangoSerializerType.

Anyway, the problem is that primary key fields are read_only fields and read_only fields are explicitly left out of InputType's for create (which is OK) as well as update mut

[2020-06-17 21:13] IdemenB commented on #41
Hello everyone, what's the positioning of AuthenticatedGraphQLView in all these discussions? There is no reference to it in the documentation at all. Any advice and experience on authentication and authorization for both Queries and Mutations implementing this library would be highly appreciated.

[2020-06-18 11:12] IdemenB commented on #41
Hi @jstacoder , do you think in order to be able to use decorators, the correct method to overwrite is perform_mutate for mutations done through DjangoSerializerMutation ?

[2020-06-18 12:36] IdemenB commented on #41
I think I've found the solution, dependign on the use case, .create, .update or .delete methods of the DjangoSerializerMutation can be overridden in order to apply JWT authorizations. Here is a sample code:

class UserSerializerMutation(DjangoSerializerMutation):

Note: In this sample only update mutation is restricted.

[code]

[2020-06-26 05:55] jstacoder commented on #117
@sbernier1 you want to overload `list_resolver`

[2020-06-29 21:04] plus500s opened #143 "TypeError: __init__() got an unexpected keyword argument 'type_'"
For some reasons in the `  File "graphene_django_extras/directives/date.py", line 238, in get_args` it instantiate `GraphQLArgument` object with `type_` kwarg instead of `type`. Needs to be corrected, I guess

[code]

[2020-06-29 22:56] Cimmanuel opened #144 "How to stop DjangoFilterPaginateListField from returning all instances of a model class"
DjangoFilterPaginateListField simply returns `manager.all()` and ignores all parameters passed to the field. For instance, l have the following:

[code]

Instead of getting results related to the id supplied, I simply get Model.objects.all(). How do I solve this?

[2020-06-30 02:37] ZuluPro commented on #144
Can you give an the model and/or a query example ?

[2020-06-30 02:50] Cimmanuel commented on #144
Sure!

[code]

Example query:

[code]
The only result that should be shown should be the first one (see the value of id in provider matches what was supplied as argument). But every other result comes back too

[2020-06-30 06:14] jstacoder commented on #144
Looks like in the try, you’re not returning the result, so it’s just moving along and returning the all call at the end. Just return the result.

[2020-06-30 07:15] Cimmanuel commented on #144
What do you mean "return the result"?

[2020-06-30 10:29] ZuluPro commented on #144
Perso I use a `Filterset` for filtering:

[code]

[2020-06-30 11:20] Cimmanuel commented on #144
@ZuluPro this still gives the same issue

[2020-06-30 12:53] ZuluPro commented on #144
And what is your filterset ?

[2020-06-30 12:56] Cimmanuel commented on #144
[code]

[2020-06-30 13:13] Cimmanuel commented on #144
@ZuluPro I think you are missing the point. Filtering via configured filterset works fine. The problem is with filtering via the supplied argument. Please check the resolver method again.

[2020-06-30 21:41] jstacoder commented on #144
@Cimmanuel

[code]

[2020-07-03 10:20] dperetti commented on #143
Same. Seems related to:
`graphene-django==2.11.0   # via graphene-django-extras`

[2020-07-03 10:43] dperetti commented on #143
Same here. Version 0.4.8... which used to work before.
And by the way I notice that versions from the [release page](https://github.com/eamigo86/graphene-django-extras/releases ) lag behind [PyPi](https://pypi.org/project/graphene-django-extras/#history) ? ? 🤔

[2020-07-03 10:52] dperetti commented on #143
Ok. It's apparently fixed in 0.4.9... which is not even mentioned in the releases. 😕 @eamigo86

[2020-07-13 15:48] flyte opened #145 "'UserFilter' in readme example is not defined or imported anywhere"
In the line from the readme:
[code]
you reference `UserFilter` but that isn't imported or created anywhere in the example.

[2020-07-14 11:48] flyte opened #146 ""totalCount" field stays camelCase when auto_camelcase == False"
Our GraphQL schema uses snake_case, so we have `auto_camelcase` switched off:
[code]
This works fine for everything except for the `totalCount` field since it's hardcoded here:
https://github.com/eamigo86/graphene-django-extras/blob/ddc2ed921bd915be16234f4a9761108508cbd49f/graphene_django_extras/types.py#L313

Which means our queries:

[code]
and results:
[code]

end up with inconsistent styling.

[2020-07-18 09:54] hyusetiawan commented on #81
i am facing the same issue as well

[2020-07-28 09:56] flyte commented on #119
That doesn't appear to work for me:

[code]

Should this magically show up, or do I need to reference `MemberDjangoObjectType` somewhere? Cheers

[2020-07-28 10:38] flyte commented on #119
Ah, I was importing the `DjangoObjectType` from `graphene_django` instead of `graphene_django_extras`. Hit some other problems though, which I'm still working through.

[2020-07-29 18:25] jjorissen52 commented on #29
It appears that any inclusion of any extra fields on a Serializer prevents the create method from being called. Below, if I comment out `TopicSerializer.word` and `TopicSerializer.subtopics`, `TopicSerializer.create` is called when I perform the `topicCreate` mutation query. However, if either field is present, it simply returns a 200 without performing the create. The response contains a `null` T

[2020-08-04 18:32] MartinSchere commented on #143
Here using 0.4.9 and still getting this error. The pull request seems rejected

[2020-08-07 09:11] #143 closed

[2020-09-11 14:35] apelliciari commented on #145
just a quick tip: look here for the definition

https://github.com/eamigo86/graphene-django-extras/blob/abb5a333ef74a3c0aa0ce50ee896ae1c3c3b3c32/tests/filtersets.py

[2020-09-15 12:58] apelliciari opened #151 "ForeignKey name issue which makes it not appear in the type"
With this models:

[code]

and these types:
[code]

`MovieGenericType` generated by `MovieListType` doesn't contain `productionCompany` (foreign key) field

I think this issue happens in the `registry.py line 45`:

![image](https://user-images.githubusercontent.com/1625969/93212754-4d5d3b00-f763-11ea-859b-35fd6c8bdc77.png)

where the key used to find the model in the registry is `productioncompany

[2020-09-18 12:42] karlosss opened #152 "DurationField is incorrectly converted as float"
Hi!

Doing this:

[code]
results in this:
[code]
Upon `save()`, i just found a workaround to override the `save()` method and create a timedelta from the float manually there. Can you see any workaround for loading?

Thanks!

[2020-09-25 12:20] albertalexandrov opened #154 "type object 'GenericType' has no attribute 'get_queryset'"
Hi all!

Trying to run the simpliest code with graphene-django-extras==0.4.9:

[code]

Get error:

![image](https://user-images.githubusercontent.com/23693954/94266218-7d19f900-ff42-11ea-8b42-c959b852eb9b.png)

What am I doing wrong? It seems that method get_queryset() should be in User model.

[2020-09-26 20:06] bloodwithmilk25 commented on #142
I managed to fix this by inheriting from `DjangoSerializerMutation` class and overriding `__init_subclass_with_meta__` and `update` methods. I just added ID argument to `update` operation and then grabbed that ID in `update` method.

`class SerializerMutation(DjangoSerializerMutation):
    """
    That class had to be inherited from DjangoSerializerMutation in order to
    fix update mutation. Als

[2020-09-27 18:23] albertalexandrov commented on #154
Found out what. Just had to define paginator class:

[code]

[2020-09-27 18:23] #154 closed

[2020-10-17 15:16] honi opened #158 "How can you apply a global filter to the default queryset of a type?"
I want to be able to apply a global filter for a model, for example by a published field.

See this example code and the comment inside the get_queryset method:

[code]

What would be the recommended approach to achieve this using this library?

[2020-11-01 09:48] Andreypnfrv commented on #130
I'm still gettin the asame error even though graphql-core is 2.2.1

[2020-11-02 10:36] tnagorra commented on #115
Looks like the problem is at https://github.com/eamigo86/graphene-django-extras/blob/abb5a333ef74a3c0aa0ce50ee896ae1c3c3b3c32/graphene_django_extras/converter.py#L199
A string field can only be required if `input_flag` is `'create'`.
Similar logic also applies to other type of fields.

[2020-11-04 16:01] keinagae opened #160 "unable to exclude model fields from DjangoSerializerMutation that are not in serializer"
i have a department serializer that include all fields except created_by and when using it DjangoSerializerMutation
i am getting that createdBy is required
so any any idea how to resolve it

[2020-11-10 05:12] IdemenB commented on #116
Hi @eamigo86 , is there a way to apply multiple index ordering into; providing a list or tuple does not work here.

[code]

[2020-11-10 05:22] IdemenB commented on #116
By inspecting the library code, I've found the expected syntax is as follows (a string of input fields seperated by comma). I believe reading from a list or tuple would be more efficient here.

[code]

[2020-11-11 05:28] IdemenB commented on #128
Hi @sbernier1 , have you found a final solution for this? How do you make a query where you provide a list and query runs returns all results matching that list; something like id_list = [1, 2, 3, 4] and the query returns all objects where their id's are 1, 2, 3, and 4.

[2020-11-11 12:21] sbernier1 commented on #128
Hi, I used the solution I posted for a while, but I encountered other problems with graphene-django-extras (I don't remember which ones) so I ended up using the relay-style graphql instead, because it has tons more functionalities and it works with Apollo.

[2020-11-25 06:41] danlls commented on #144
I'm facing the same issue, its due to custom resolver being ignored when using `DjangoFilterPaginateListField` as described in https://github.com/eamigo86/graphene-django-extras/issues/56

[2020-12-05 13:59] IdemenB opened #161 "How To Subclass DjangoSerializerMutation for a Global @login_required enforcement of JWT"
Hi all,

I want to protect all mutations and want to use JWT as the authorization method.  So I decided to inherit from DjangoSerializerMutation to have variation of it were login_required decorator from the graphql_jwt library is enforced for all create, update and delete method.

[code]

However, I get the following exception:

**Exception: serializer_class is required on all DjangoSerializerMut

[2020-12-05 18:25] IdemenB opened #162 "perform_mutate method in DjangoSerializerMutation and Getting the newly created object while still in Mutation"
Hi @eamigo86, what is the purpose of returning  "return cls(**resp)" in the perform_mutate method of the DjangoSerializerMutation class? If we simple return "resp" itself we gain the ability to directly get the object that is created as a result of the Mutation.

If we do not change this, how can we get the created object while we are still in the Mutation we subclassed from DjangoSerializerMutati

[2020-12-08 09:01] miliakhaled opened #163 "Nested fields doens't work"
Hello
I need to create a mutation with nested fields and i couldn't find any example to follow, so my code is :

[code]

When i run this mutation, i get the following error:
[code]
I debugged the code a little bit, I found that the type of the nested_fields must be a dict,
so i tried a dict {"ressources":?????} but whatever i wrote as a value for ressources (serializer model, graphql types, django

[2020-12-09 07:30] miliakhaled commented on #163
Hello, I'm sorry i found the solution.
for those who doen't know how encountered this problem, the solution is passing the serializer that match the nested fields.

[code]

[2020-12-13 08:04] miliakhaled opened #164 "Reverse foreign_key Input problem"
Hello,
I have the following code

[code]
The problem is when generating types for inputs, especially for nested fields, you have to define the the reverse relation.
[code]
So as you can see, The input object type force me to define the reverse foreign key 'livraison', although the result of the creation is correct, whatever value I put in 'livraison'.

[2020-12-17 15:22] alokRamteke commented on #130
I was also facing the same issue and I solved the error just by upgrading the `graphql-core` to 2.3.2
Hope this will help.

[2021-01-18 23:44] JElgar opened #165 "Meta 'fields' not working"
When using DjangoObjectType from `graphene_django` it is possible to reduce the fields by setting the `fields` in the Meta class.

For example:
[code]
As expected the output if I try and query something that is not the id:
[code]

However when using `graphene_django_extras` this is not working:

When using the same snippet as above but with the import
`from graphene_django_extras import DjangoObje

[2021-01-18 23:58] JElgar commented on #165
A workaround for this seems to be using
`only_fields` instead of `fields` I couldn't spot this in the documentation but I may have missed it?

I found `only_fields` in the `graphene_django` source and it seems to be depreciated so I'm not sure if this is a long-term solution?

[2021-02-06 01:38] keithhackbarth commented on #158
Having similar issue. Also tracking same question on graphene repo: https://github.com/graphql-python/graphene/issues/1198

[2021-02-25 12:43] kentuck13 opened #166 "How to filter QuerySet in DjangoSerializerType ?"
I have articles. Each user must be read only their own articles.  -> Articles.objects.filter(user=request.user)

[code]

I still haven't found a place where I should put this QuerySet = Articles.objects.filter(user=request.user)

[2021-04-22 08:22] #119 closed

[2021-04-23 09:15] PriyatamNayak opened #169 "pagination info"
Hi ,
 Could you please tell how i make pagination and also get the info about total number of pages or offset and counts with the data

[2021-04-26 14:26] ldynia opened #170 "Updating to GitHub Actions' environment variables"
Hi @eamigo86

We have started working on migration from **Travis** to **GitHub Action**. We need few things from you.

1. Update/missing GitHub Actions environment variables with TELEGRAM_TOKEN
1. Update/missing GitHub Actions environment variables with TELEGRAM_CHAT_ID

P.S
I created new branch called `actions` you will find CI/CD implementation in `.github/workflows/ci.yaml`.

[2021-04-28 03:43] PriyatamNayak opened #171 "Dynamic Schema generation"
Hi,
Want to send the tablename and generate the dynamic shcema
Could you please tell me how to achieve this?

[2021-05-03 22:51] eamigo86 commented on #170
Hello @ldynia,

Sorry for the delay in answering. I have added the 2 secrets (TELEGRAM_TOKEN and TELEGRAM_CHAT_ID) to the project.

Kind regards

[2021-05-03 22:51] #170 closed

[2021-05-04 09:26] ldynia opened #172 "Travis rewrite to GitHub Actions"
Hi @eamigo86

I have finished rewriting Travis to GitHub Actions. Continuous Integration & Continuous Delivery is in place now.

What we are missing are:
- Update GitHub Actions environment secrets/variables with `PYPI_USERNAME`
- Update GitHub Actions environment secrets/variables with `PYPI_ACCESS_TOKEN`

**Important:** As for now the code for Continuous Delivery is disabled (commented). I propo

[2021-05-04 17:15] eamigo86 commented on #172
Hi Idynia,

I just added the two required secrets values to the project settings.

Big Hug

[2021-05-04 17:15] #172 closed

[2021-05-05 09:04] ldynia commented on #172
Thanks Ernesto :) I'll make a Pull Request (PR)

[2021-05-05 17:31] Tom-Greenwood commented on #115
is `input_flag` something users can set?

If not, any workarounds? I am using typescript on the frontend and having everything as optionally null when it's really not is quite painful.

[2021-05-07 08:20] ldynia opened #175 "TODO"
Dear contributors.

I create this issue in order to have a channel for project's further  **improvement /  development / maintainance**. Everyone who has any thoughts about where we should go with it next, are welcome to share it here. Once we agree where to focus our attention, I will create tasks in [GitHub Projects](https://github.com/eamigo86/graphene-django-extras/projects/1) to keep track of

[2021-05-07 09:02] tnagorra commented on #115
@Tom-Greenwood
We didn't find a workaround for this. We were only using this library for a small functionality so we just stopped using this library.
We are also using typescript and codegen to generate all the typings and we didn't want to lose that.

[2021-05-07 09:16] Tom-Greenwood commented on #115
Thanks @tnagorra I am exactly the same situation. Similarly, I found that I could build the same filtering functionality with just plain django and graphene after all.

[2021-05-20 11:43] PriyatamNayak commented on #108
@pheel Want to use moving avg or mean ,how can we achieve it?
can you share a sample code?

[2021-05-27 10:42] ryarasi commented on #56
@eamigo86 You said this nearly 3 years ago, have you been able to make much progress. Would love to get updates on this! Thanks!

[2021-06-02 17:37] leesolway commented on #169
@PriyatamNayak Did you resolve this?

[2021-06-28 15:27] s3rius commented on #34
@cfarvidson, if you still interested in using `django-graphql-jwt` with this library, you can check the request #176.

[2021-06-28 19:27] cfarvidson commented on #34
Thanks. Sadly I’ve abandoned the Django  project that I used JWT in. 🙂

[2021-07-11 19:19] Instrumedley opened #177 "Tried installing graphene-django-extras, but get errors about incompatibility"
Hi, just tried to installed your library, but then I get this error :

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
django-graphql-jwt 0.3.0 requires graphql-core<3,>=2.1, but you have graphql-core 3.1.5 which is incompatible.

Is it incompatible to my graphene version,

[2021-07-12 08:21] eamigo86 commented on #177
Hi @Instrumedley, have you tried installing the latest version of **django-graphql-jwt** (0.3.2)?

[2021-07-12 09:02] Instrumedley commented on #177
Hi @eamigo86 . I tried now but then I get other incompatibility errors:

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
djangorestframework-jwt 1.11.0 requires PyJWT<2.0.0,>=1.5.2, but you have pyjwt 2.1.0 which is incompatible.
django-graphql-auth 0.3.16 requires django-

[2021-07-18 02:06] MariuszBielecki288728 commented on #161
@IdemenB Not sure if you found some solution back then, but for the future readers -- it seems that the enforcement can be accomplished by creating a mixin class:
[code]
And then:
[code]

[2021-07-26 08:23] briggySmalls commented on #163
Just as a reference to anyone else encountering a similar issue. I too had this issue, whilst using the `DjangoInputObjectType` (rather than using DRF serializers).

I had specified a field inside `nested_fields` but never defined a subclass of `DjangoInputObjectType` that would be used for populating that model

[2021-12-10 01:12] longbowou opened #178 "ImportError: cannot import name 'force_text' from 'django.utils.encoding'"
Hi, just tried to upgrade to django from 3 => 4, but then I get this error at run server :

ImportError: cannot import name 'force_text' from 'django.utils.encoding'
File "/usr/local/lib/python3.10/site-packages/graphene_django_extras/converter.py", line 12

force_text() is deprecated with Django 3 in favor of force_str()
[https://docs.djangoproject.com/en/dev/internals/deprecation/#deprecation-re

[2021-12-13 05:47] BitTheByte opened #180 "Regarding UnionTypes"
is there any implemented alternative for `graphene.Union` or a way to integrate the functionality?

[2022-01-12 01:08] dennisbr91 commented on #45
Any solutions for this questions..?

[2022-03-16 14:47] paulsermon-gemfair opened #183 "Pagination Total Count"
Hi, sorry if this is obvious, but I'm trying to work out if the total count of the result is available in a paginated result. It is mentioned in the Readme as totalCount, but using DjangoFilterPaginateListField doesn't seem to provide it?

Maybe I have misunderstood this, and perhaps I need to provide another resolver for the count, but how can I make use of the existing filter definitions that I

[2022-03-16 16:49] paulsermon-gemfair commented on #183
I've just worked this out myself, so no worries. I'm going to post some notes in case someone else needs guidance.

[2022-03-17 17:09] paulsermon-gemfair commented on #183
When starting with this library you may have been tempted to use DjangoFilterPaginateListField as that looks like it does everything you need (which is what I did), but it is actually the combination of DjangoListObjectField and a customised DjangoListObjectType that gives you everything and a total count.
eg.
Set up your model Type:
`
class MyModelType(DjangoObjectType):
    class Meta:

[2022-03-17 17:09] #183 closed

[2022-03-17 17:11] paulsermon-gemfair commented on #169
I've added some notes to this issue that will at least inform you how to get the total number of pages
https://github.com/eamigo86/graphene-django-extras/issues/183

[2022-04-08 16:07] javi-code commented on #178
I have the same problem, the update is very necessary

[2022-05-23 16:35] paulsermon-gemfair opened #184 "When using a model with a UUID Field as ID the update method does not provide a UUID Field"
Pretty much as the title says.

I'm using ModelSerializer and DjangoSerializerMutation with a model that has a UUID as id.

This seems to break the UpdateField(). The ID does not appear as a property of the UpdateGenericType that is created.

Does anyone know of a simple way to fix this, or a way to subclass something to fix it myself? I tried to subclass DjangoSerializerMutation and change __init

[2022-05-24 08:59] paulsermon-gemfair commented on #142
I've also hit a similar problem. It seems to occur on mine because the models I was using used UUIDs as ids rather than IDs.
The models where normal IDs were used didn't have the problem.

@bloodwithmilk25 Thanks for the tips. I'll see if I can use this to fix my issue, as I'm subclassing some of the methods for auth already.

[2022-06-27 13:30] paulsermon-gemfair commented on #184
I have decided to refactor and use uuids as a secondary primary key, but not as uuid. For some reason, it still doesn't pick up the UUID fields on mutations, but it's a bit better solution that what I was working with.

[2022-06-28 08:59] #184 closed, assigned to nobody

[2022-08-01 12:26] lautarodapin opened #186 "No type registered for model: <model>"
I had an issue that i can't fix.
I'm trying to use this package together with `graphene-django` defining types with the extra package and using `DjangoModelFormMutation` from the `graphene-django` package. But for some reason the types that I register using the `extras` class are not present for the other package.

<img width="1157" alt="image" src="https://user-images.githubusercontent.com/438833

[2022-08-09 20:03] fireteam99 commented on #183
It would be nice to have this in the docs

[2022-08-09 22:12] fireteam99 commented on #183
@paulsermon-gemfair were you able to get foreign fields to work with `DjangoListObjectType`?

[2022-08-15 08:07] paulsermon-gemfair commented on #183
This should be largely automatic as long as the foreign key model has a type defined. I think.

[2022-08-18 17:28] fireteam99 commented on #183
Thats what I thought as well, but I haven't been able to get it to work for me 🤷

[2022-08-19 08:44] paulsermon-gemfair commented on #183
You can try using the DjangoFilterPaginateListField within a type eg:
`
class MyObjectType(DjangoObjectType):

    things = DjangoFilterPaginateListField(
        ThingObjectType,
    )
`

that seems to work automatically for me too.

[2022-08-19 16:11] paulsermon-gemfair commented on #158
Hitting a similar issue, but trying to make a queryset distinct. Did you have any luck?

[2022-08-19 16:32] paulsermon-gemfair opened #187 "Getting duplicate results on a filter across multiple fields. Cannot add distinct."
As stated, I am adding a filter field that crosses 3 foreign keys. eg Filtering a TrainingSession object on  `attendees__user__roles__office`

When I filter with this method I get duplicate results in my GQL response. Usually as many duplicates as there are attendees.
The obvious fix for this in Django is to add .distinct() to the queryset, but it seems overriding get_queryset, or setting the quer

[2022-08-22 15:43] katylava opened #188 "still maintained?"
Is this package still being maintained? We'd like to use the latest version of django-filter but can't, since graphene-django-extras requires an older version. Also the current version requires an alpha version of graphene-django, which breaks stuff for us.

Is there a good alternative for graphene-django-extras?

[2022-09-20 17:50] agale031176 commented on #154
I have the same issue but in DjangoObjectType. I cannot figure how to sort it out. Here is a definition of my class:

[code]

I get all the time:

[code]
Any idea what I need to do?